@import '/assets/fonts/GTWalsheimPro/stylesheet.css';
h1 {
  font-family: 'GT Walsheim Pro';
  font-size: 7vh;
  font-weight: 100;
}
footer {
  min-height: 71.84vh;
  background-color: #576078;
  font-family: 'GT Walsheim Pro';
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer {
    min-height: 60vh;
  }
}
footer {
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}
footer .logo {
  display: flex;
  justify-content: center;
}
footer .logo img {
  margin-top: 12.44vh;
  margin-bottom: 11.33vh;
  max-width: 14.48vw;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer .logo img {
    margin-top: 6vh;
    margin-bottom: 4vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer .logo img {
    max-width: 43.96vw;
    margin-top: 7.41vh;
    margin-bottom: 7.41vh;
  }
}
footer .container2 a {
  text-decoration: none;
  color: #000;
}
footer .line {
  width: 100%;
}
footer.footer-lg {
  margin-left: auto;
  margin-right: auto;
}
footer.footer-lg .footer-gap {
  height: 4.7vh;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer.footer-lg .footer-gap {
    height: 2vh;
  }
}
footer.footer-lg h4 {
  font-size: 2.7vh;
  font-weight: 500;
  margin-bottom: 2vh;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg h4 {
    font-size: 1.97vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 0.86vh;
    padding-bottom: 0.86vh;
  }
  footer.footer-lg h4.active {
    border: 1px solid rgba(33, 150, 243, 0.3);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  }
  footer.footer-lg h4.active svg {
    transform: rotate(-90deg) scale(1.5, 1.5);
    margin: 1px;
  }
  footer.footer-lg h4 svg {
    fill: #2196f3;
    width: 30px;
    margin-top: -3px;
    transform: rotate(90deg) scale(1.5, 1.5);
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .toggle-body {
    display: none;
    margin-top: -20px;
    transition: 0.3s ease;
    padding-left: 8vw;
    padding-right: 8vw;
  }
  footer.footer-lg .toggle-body.active {
    margin-top: 0px;
    display: block;
  }
  footer.footer-lg .toggle-body.not-active {
    display: none;
  }
}
footer.footer-lg .container-lg {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  padding-bottom: 6.67vh;
  width: 65.1vw;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer.footer-lg .container-lg {
    width: 90vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .container-lg {
    flex-direction: column;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .container-lg {
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    gap: 10px;
  }
}
footer.footer-lg .container-lg img {
  display: none;
}
footer.footer-lg .container-lg a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8vh;
  font-weight: 300;
}
footer.footer-lg .container-lg a:hover {
  color: #192cd1;
}
footer.footer-lg .container-lg .toggle-body {
  margin-top: 0px;
}
footer.footer-lg .container-lg .container-inner {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  gap: 4.63vh;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .container-lg .container-inner {
    gap: 10px;
  }
}
footer.footer-lg .container-lg .container-inner > div {
  display: flex;
  gap: 10vw;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .container-lg .container-inner > div {
    flex-direction: column;
    gap: 10px;
  }
}
footer.footer-lg .container2 {
  width: 65.1vw;
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 10vw;
  margin-top: 10vh;
  padding-bottom: 6.67vh;
  margin: auto;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer.footer-lg .container2 {
    width: 90vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .container2 {
    width: 100vw;
    flex-direction: column;
  }
  footer.footer-lg .container2 p,
  footer.footer-lg .container2 .icons {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
footer.footer-lg .container2 a {
  font-size: 1.8vh;
  font-weight: 300;
  color: white;
}
footer.footer-lg .container2 .icons {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  gap: 1.5vw;
}
footer.footer-lg .container2 .icons svg {
  width: 22px;
  fill: #fff;
  transition: 0.1s ease-in-out;
  transform: scale(0.9, 0.9);
}
footer.footer-lg .container2 .icons svg:hover {
  box-shadow: 0px 0px 5px solid #424242;
  transform: scale(1.1, 1, 1);
}
@media screen and (min-width: 1081px)  {
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
}
@media screen and (min-width: 320px) and (max-width: 1080px) and (orientation: landscape)  {
  footer.footer-lg .container2 .icons {
    align-items: center;
    gap: 1vw;
  }
  footer.footer-lg .container2 .icons svg {
    width: 18px;
  }
}
@media screen and (min-device-width: 813px) and (max-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)  {
  footer.footer-lg {
    margin-top: 7vh;
  }
  footer.footer-lg h4 {
    font-size: 2vh;
  }
  footer.footer-lg a {
    font-size: 1.3vh;
  }
  footer.footer-lg .container-lg {
    gap: 5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer.footer-lg h4 {
    font-size: 1.5vh;
  }
  footer.footer-lg .container-lg {
    margin-top: 7vh;
  }
  footer.footer-lg .container-lg a {
    font-size: 1.2vh;
  }
  footer.footer-lg .container2 a {
    font-size: 1.2vh;
  }
}
