@import '/assets/fonts/GTWalsheimPro/stylesheet.css';
#section1 {
  padding-left: 14.43vw;
  padding-right: 14.43vw;
}
#section1 .header h1 {
  margin-bottom: 0px;
}
#section1 .carousel {
  height: 60.52vh;
  width: 69.95vw;
}
#section1 .carousel .carousel-control-next {
  width: auto;
}
#section1 .carousel .carousel-control-next svg {
  height: 5.22vh;
  width: 5.22vh;
}
#section1 .carousel .carousel-control-next svg #tail {
  display: none;
}
#section1 .carousel .carousel-control-prev {
  width: auto;
}
#section1 .carousel .carousel-control-prev svg {
  height: 5.22vh;
  width: 5.22vh;
  transform: rotate(180deg);
}
#section1 .carousel .carousel-control-prev svg #tail {
  display: none;
}
#section1 .carousel .carousel-inner {
  height: 62.2vh;
}
#section1 .carousel .carousel-inner .carousel-item.active .image {
  overflow: visible;
}
#section1 .carousel .carousel-inner .image {
  transition: 0.03s ease-in-out;
  transform: scale(0.8, 0.8);
  height: 57.31vh;
  width: 60.52vw;
  margin: auto;
}
#section1 .carousel .carousel-inner .image .content {
  border-radius: 6.21vh;
  margin: auto;
  background-color: #f6f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#section1 .carousel .carousel-inner .image .content .text {
  margin: auto;
}
#section1 .carousel .carousel-inner .image .content .text p {
  width: 25.16vw;
  line-height: 1.5;
  text-align: center;
  font-size: 1.02vh;
}
#section1 .carousel .carousel-inner .image .content .text p a {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 1vh;
}
#section1 .carousel .carousel-inner .image .content .text p a:hover {
  cursor: pointer;
}
#section1 .carousel .carousel-inner .image .content .img-cont {
  border-radius: 6.51vh;
  height: 57.31vh;
  width: 54.17vh;
  margin-right: auto;
  background: linear-gradient(225deg, #4043ff 0%, #192cd1 100%);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
#section1 .carousel .carousel-inner .image .content .img-cont.section1 {
  background-image: url('/assets/svgs/feature1/img1.svg');
}
#section1 .carousel .carousel-inner .image .content .img-cont.section2 {
  background-image: url('/assets/svgs/feature1/img2.svg');
}
#section1 .carousel .carousel-inner .image .content .img-cont.section3 {
  background-image: url('/assets/svgs/feature1/img3.svg');
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #section1 {
    padding-left: 9.86vw;
    padding-right: 9.86vw;
  }
  #section1 .carousel {
    width: 100%;
    height: 40vh;
  }
  #section1 .carousel .carousel-inner {
    height: 40vh;
  }
  #section1 .carousel .carousel-inner .image {
    width: 71.88vw;
    height: 29.7vh;
  }
  #section1 .carousel .carousel-inner .image .content {
    margin-top: 4vh;
  }
  #section1 .carousel .carousel-inner .image .content .img-cont {
    height: 29.7vh;
    width: 28vh;
  }
}
#section2 .header h4 {
  margin-top: 11.24vh;
}
#section2 .header h1 {
  margin-bottom: 4.72vh;
}
#section2 .images {
  height: 63.06vh;
  width: 68.18vw;
  margin: auto;
  position: relative;
}
#section2 .images img.desktop {
  position: absolute;
  width: 40.63vw;
  border: 1px solid #f2f2f286;
  border-radius: 30px;
  box-shadow: 0px 20px 60px rgba(64, 67, 255, 0.1);
}
#section2 .images img.desktop.back {
  top: 2.4vh;
  right: 2.63vw;
}
#section2 .images img.desktop.front {
  top: 12.22vh;
  left: 1.76vw;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #section2 .header h4 {
    margin-top: 6.85vh;
  }
  #section2 .images {
    width: 76.17vw;
    height: 35vh;
  }
  #section2 .images img.desktop {
    border-radius: 10px;
  }
}
#section3 .header h4 {
  margin-top: 8.84vh;
}
#section3 .header h1 {
  margin-bottom: 6.48vh;
}
#section3 .container {
  height: 74.62vh;
  width: 60.99vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
}
#section3 .container div {
  width: 19.27vw;
  height: 35.74vh;
  margin: auto;
  margin-bottom: 0px;
  border-radius: 5px;
  background: #f4f6f8;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.3vh;
}
#section3 .container div img {
  width: 6.48vh;
  height: 6.48vh;
}
#section3 .container div h3 {
  font-size: 2.31vh;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}
#section3 .container div p {
  margin: auto;
  font-size: 1.67vh;
  max-width: 14.79vw;
  color: #576078;
  text-align: center;
  margin: 0px;
}
#section3 .container div a {
  background-color: #192cd1;
  color: white;
  font-size: 1.39vh;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  width: 6.2vw;
  height: 3.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 5px;
}
#section3 .container div:hover {
  background: linear-gradient(222.21deg, #4043ff 1.32%, #0404a5 98.71%);
  filter: drop-shadow(0px 20px 50px rgba(64, 67, 255, 0.455));
  transform: translateY(-10px);
}
#section3 .container div:hover h3,
#section3 .container div:hover p {
  color: white;
}
#section3 .container div:hover a {
  background-color: #f4f6f8;
  color: #000;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #section3 .header h4 {
    margin-top: 6.85vh;
  }
  #section3 .container {
    max-width: 82vw;
    width: 100%;
    height: 41vh;
    gap: 0px;
  }
  #section3 .container > div {
    width: 24.59vw;
    height: 21.11vh;
    gap: 1.17vh;
    margin-bottom: 1vh;
  }
  #section3 .container > div img {
    width: 3.44vh;
    height: 3.44vh;
  }
  #section3 .container > div h3 {
    font-size: 1.32vh;
  }
  #section3 .container > div p {
    font-size: 1.1vh;
    max-width: 18vw;
  }
  #section3 .container > div a {
    width: 8.81vw;
    height: 3.2vh;
    font-size: 1vh;
    border-radius: 5px;
  }
}
#section4 {
  padding-top: 6.48vh;
}
#section4 .header h1 {
  margin-bottom: 0px;
}
#section4 .images {
  margin-bottom: 8.61vh;
  margin-top: 3.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.66vw;
}
#section4 .images img {
  max-width: 11.09vw;
  height: auto;
}
#cta {
  height: 38.8vh;
  width: 66.15vw;
  margin: auto;
  margin-bottom: 15.56vh;
  padding: 4.63vh;
}
#cta .cont {
  display: flex;
  box-shadow: 0px 4px 50px rgba(25, 44, 209, 0.4);
  background: linear-gradient(225deg, rgba(64, 67, 255, 0.333) 0%, #192cd1 100%), linear-gradient(229.91deg, #4043ff 21.58%, #192cd1 89.53%);
  height: 100%;
  padding-left: 3.15vw;
  border-radius: 3.24vh;
}
#cta .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#cta .text h1 {
  font-size: 3.24vh;
  color: white;
  font-weight: bold;
}
#cta .text p {
  font-size: 1.85vh;
  color: white;
  max-width: 17.6vw;
}
#cta .buttons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.56vw;
}
#cta .buttons a {
  width: 8.85vw;
  height: 5.56vh;
  display: inline-block;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-family: 'GT Walsheim Pro';
  border-radius: 4.63vh;
  transition: 0.3s ease;
  font-weight: 600;
}
#cta .buttons a.getstarted {
  border: 2px solid transparent;
  background-color: white;
  color: #192cd1;
}
#cta .buttons a.learnmore {
  border: 2px solid white;
  color: white;
}
#cta .buttons a.learnmore:hover {
  background-color: white;
  color: #192cd1;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #cta {
    border: none;
    padding: 0px;
    width: 100%;
    margin-bottom: 0px;
    height: auto;
    margin-bottom: 7vh;
  }
  #cta .cont {
    border-radius: 0px;
    flex-direction: column;
    height: 20.2vh;
    padding-left: 0px;
  }
  #cta .text {
    align-items: center;
    justify-content: center;
    flex: 2;
    margin-bottom: -15px;
  }
  #cta .text h1 {
    font-size: 1.83vh;
  }
  #cta .text p {
    font-size: 1.1vh;
    max-width: 25vw;
    text-align: center;
  }
  #cta .buttons {
    align-items: flex-start;
    margin-top: -10px;
  }
  #cta .buttons a {
    width: 12.94vw;
    height: 3.86vh;
    font-family: sans-serif;
    font-size: 0.8vh;
  }
}
h1 {
  font-family: 'GT Walsheim Pro';
  font-size: 7vh;
  font-weight: 100;
}
.features .header h4 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.3vw;
  color: #192cd1;
  margin-top: 2.04vh;
  margin-bottom: 0px;
  text-align: center;
}
.features .header h1 {
  font-size: 3.7vh;
  font-weight: bold;
  text-align: center;
  margin-top: 2.78vh;
  margin-bottom: 8.89vh;
  line-height: 1.1;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  .features .header h1 {
    font-size: 1.83vh;
    margin-top: 2vh;
    margin-bottom: 4.2vh;
  }
}
.features.dark {
  background-color: #f4f6f8;
  margin-top: 16.2vh;
  border-radius: 10.42vw 10.42vw 0px 0px;
}
