@import '/assets/fonts/GTWalsheimPro/stylesheet.css';
h1 {
  font-family: 'GT Walsheim Pro';
  font-size: 7vh;
  font-weight: 100;
}
#section1 {
  padding-left: 14.43vw;
  padding-right: 14.43vw;
}
#section1 .header h1 {
  margin-bottom: 0px;
}
#section1 .carousel {
  height: 60.52vh;
  width: 69.95vw;
}
#section1 .carousel .carousel-control-next {
  width: auto;
}
#section1 .carousel .carousel-control-next svg {
  height: 5.22vh;
  width: 5.22vh;
}
#section1 .carousel .carousel-control-next svg #tail {
  display: none;
}
#section1 .carousel .carousel-control-prev {
  width: auto;
}
#section1 .carousel .carousel-control-prev svg {
  height: 5.22vh;
  width: 5.22vh;
  transform: rotate(180deg);
}
#section1 .carousel .carousel-control-prev svg #tail {
  display: none;
}
#section1 .carousel .carousel-inner {
  height: 62.2vh;
}
#section1 .carousel .carousel-inner .carousel-item.active .image {
  overflow: visible;
}
#section1 .carousel .carousel-inner .image {
  transition: 0.03s ease-in-out;
  transform: scale(0.8, 0.8);
  height: 57.31vh;
  width: 60.52vw;
  margin: auto;
}
#section1 .carousel .carousel-inner .image .content {
  border-radius: 6.21vh;
  margin: auto;
  background-color: #f6f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#section1 .carousel .carousel-inner .image .content .text {
  margin: auto;
}
#section1 .carousel .carousel-inner .image .content .text p {
  width: 25.16vw;
  line-height: 1.5;
  text-align: center;
  font-size: 2.2vh;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #section1 .carousel .carousel-inner .image .content .text p {
    font-size: 1.29vh;
  }
}
#section1 .carousel .carousel-inner .image .content .text p a {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 1vh;
}
#section1 .carousel .carousel-inner .image .content .text p a:hover {
  cursor: pointer;
}
#section1 .carousel .carousel-inner .image .content .image-cont {
  border-radius: inherit;
  width: 54.17vh;
  height: auto;
  box-shadow: 0px 0px 10px 3px rgba(25, 44, 209, 0.4);
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #section1 {
    padding-left: 9.86vw;
    padding-right: 9.86vw;
  }
  #section1 .carousel {
    width: 100%;
    height: 40vh;
  }
  #section1 .carousel .carousel-inner {
    height: 40vh;
  }
  #section1 .carousel .carousel-inner .image {
    width: 71.88vw;
    height: 29.7vh;
  }
  #section1 .carousel .carousel-inner .image .content {
    margin-top: 4vh;
    border-radius: 4vh;
  }
  #section1 .carousel .carousel-inner .image .content .image-cont {
    width: 28vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  #section1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  #section1 .carousel {
    width: 100%;
    height: auto;
  }
  #section1 .carousel .carousel-control-next,
  #section1 .carousel .carousel-control-prev {
    display: none;
  }
  #section1 .carousel .carousel-inner {
    height: 90.62vh;
  }
  #section1 .carousel .carousel-inner .carousel-item .image {
    height: 92.44vh;
    width: 100vw;
  }
  #section1 .carousel .carousel-inner .carousel-item .image .content {
    flex-direction: column;
  }
  #section1 .carousel .carousel-inner .carousel-item .image .content .image-cont {
    width: 100%;
    height: auto;
  }
  #section1 .carousel .carousel-inner .carousel-item .image .content .text p {
    width: 82vw;
  }
}
