<section id="section1">
  <div class="header">
    <h4>FEATURES</h4>
    <h1>
      Seamless Payments. <br />
      As simple as that.
    </h1>
  </div>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="image">
          <div class="content">
            <div class="img-cont section1"></div>
            <div class="text">
              <p>
                Be rest assured that our fast and seamless payment platform that
                enables payment customers pay you directly via transfers. It
                runs your local payments as quick as speed can be.
                <a>Learn more</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="image">
          <div class="content">
            <div class="img-cont section2"></div>
            <div class="text">
              <p>
                We reduce transaction losses by our super low charges on all
                transactions which help you save more as you spend.

                <a>Learn more</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="image">
          <div class="content">
            <div class="img-cont section3"></div>
            <div class="text">
              <p>
                We can easily support businesses who need urgent cashflow by
                helping them with settlement within six(6) hours from
                transaction time.
                <a> Learn more</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <button
        class="carousel-control-prev .carousel-control"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <svg
          width="192"
          height="191"
          viewBox="0 0 192 191"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="carousel-arrow">
            <path
              id="white-outer"
              d="M95.9074 190.553C77.0752 190.555 58.6654 184.974 43.006 174.514C27.3465 164.054 15.1409 149.187 7.93261 131.791C0.724335 114.395 -1.16275 95.2532 2.50987 76.7851C6.18249 58.317 15.2499 41.3527 28.5654 28.0373C41.881 14.722 58.8466 5.65383 77.3167 1.97955C95.7869 -1.69474 114.932 0.189924 132.331 7.39519C149.73 14.6005 164.601 26.8027 175.064 42.4588C185.526 58.1149 191.111 76.5216 191.111 95.3512C191.084 120.59 181.046 144.788 163.198 162.636C145.35 180.484 121.15 190.524 95.9074 190.553ZM95.9074 11.281C79.2745 11.2788 63.0145 16.2085 49.1838 25.4466C35.3532 34.6847 24.5731 47.8163 18.2069 63.1807C11.8408 78.545 10.1745 95.4518 13.4189 111.763C16.6633 128.074 24.6726 143.057 36.4338 154.817C48.1951 166.576 63.1799 174.585 79.4933 177.829C95.8067 181.073 112.716 179.407 128.082 173.041C143.449 166.676 156.582 155.897 165.821 142.068C175.061 128.24 179.991 111.982 179.989 95.3512C179.963 73.0625 171.095 51.6943 155.333 35.9338C139.57 20.1734 118.199 11.3075 95.9074 11.281Z"
              fill="white"
            />
            <path
              id="blue-inner"
              d="M96.0098 180C79.3957 180.002 63.1543 175.048 49.3392 165.764C35.5242 156.48 24.7562 143.284 18.3969 127.844C12.0377 112.403 10.3728 95.413 13.6129 79.0209C20.1458 45.9698 46.5251 19.2459 79.6088 12.6244C95.9035 9.36315 112.794 11.036 128.143 17.4313C143.493 23.8266 156.612 34.6572 165.843 48.5533C175.073 62.4495 180 78.7871 180 95.5C179.977 117.902 171.12 139.38 155.375 155.221C139.629 171.063 118.279 179.974 96.0098 180Z"
              fill="#192CD1"
            />
            <path
              id="tail"
              d="M110.11 90.3911H66.7119V100.333H110.11V90.3911Z"
              fill="white"
            />
            <path
              id="head"
              d="M97.3866 68.6611L89.4455 76.6122L109.165 96.3621L89.4121 116.123L97.3532 124.063L125.058 96.3621L97.3866 68.6611Z"
              fill="white"
            />
          </g>
        </svg>

        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <svg
          width="192"
          height="191"
          viewBox="0 0 192 191"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="carousel-arrow">
            <path
              id="white-outer"
              d="M95.9074 190.553C77.0752 190.555 58.6654 184.974 43.006 174.514C27.3465 164.054 15.1409 149.187 7.93261 131.791C0.724335 114.395 -1.16275 95.2532 2.50987 76.7851C6.18249 58.317 15.2499 41.3527 28.5654 28.0373C41.881 14.722 58.8466 5.65383 77.3167 1.97955C95.7869 -1.69474 114.932 0.189924 132.331 7.39519C149.73 14.6005 164.601 26.8027 175.064 42.4588C185.526 58.1149 191.111 76.5216 191.111 95.3512C191.084 120.59 181.046 144.788 163.198 162.636C145.35 180.484 121.15 190.524 95.9074 190.553ZM95.9074 11.281C79.2745 11.2788 63.0145 16.2085 49.1838 25.4466C35.3532 34.6847 24.5731 47.8163 18.2069 63.1807C11.8408 78.545 10.1745 95.4518 13.4189 111.763C16.6633 128.074 24.6726 143.057 36.4338 154.817C48.1951 166.576 63.1799 174.585 79.4933 177.829C95.8067 181.073 112.716 179.407 128.082 173.041C143.449 166.676 156.582 155.897 165.821 142.068C175.061 128.24 179.991 111.982 179.989 95.3512C179.963 73.0625 171.095 51.6943 155.333 35.9338C139.57 20.1734 118.199 11.3075 95.9074 11.281Z"
              fill="white"
            />
            <path
              id="blue-inner"
              d="M96.0098 180C79.3957 180.002 63.1543 175.048 49.3392 165.764C35.5242 156.48 24.7562 143.284 18.3969 127.844C12.0377 112.403 10.3728 95.413 13.6129 79.0209C20.1458 45.9698 46.5251 19.2459 79.6088 12.6244C95.9035 9.36315 112.794 11.036 128.143 17.4313C143.493 23.8266 156.612 34.6572 165.843 48.5533C175.073 62.4495 180 78.7871 180 95.5C179.977 117.902 171.12 139.38 155.375 155.221C139.629 171.063 118.279 179.974 96.0098 180Z"
              fill="#192CD1"
            />
            <path
              id="tail"
              d="M110.11 90.3911H66.7119V100.333H110.11V90.3911Z"
              fill="white"
            />
            <path
              id="head"
              d="M97.3866 68.6611L89.4455 76.6122L109.165 96.3621L89.4121 116.123L97.3532 124.063L125.058 96.3621L97.3866 68.6611Z"
              fill="white"
            />
          </g>
        </svg>
      </button>
    </div>
  </div>
</section>
