<section id="section2">
        <div class="header">
          <h4>FEATURES</h4>
          <h1>
            Monitor all payments <br />
            You’re in control.
          </h1>
        </div>
        <div class="images">
          <img
            class="desktop back"
            src="/assets/images/transactions1.png"
            alt=""
          />
          <img
            class="desktop front"
            src="/assets/images/Marasoft-Webshot.gif"
            alt=""
          />
        </div>
      </section>