<section id="section3">
  <div class="header">
    <h4>FEATURES</h4>
    <h1>
      All the Financial <br />
      Headstart You need.
    </h1>
  </div>
  <div class="container">
    <div>
      <img src="/assets/svgs/easy-onboarding-icon(1).png" alt="" />
      <h3>Easy Onboarding</h3>
      <p>With your registration finalized, start transacting within minutes.</p>
      <!-- <a href="">Learn more</a> -->
    </div>
    <div>
      <img src="/assets/svgs/intuitive-interface-icon.svg" alt="" />
      <h3>Intutive Interface</h3>
      <p>Easy to use back-end for review, withdrawals, deposit and more.</p>
      <!-- <a href="">Learn more</a> -->
    </div>
    <div>
      <img src="/assets//svgs/analytic-tools-icon.svg" alt="" />
      <h3>Analytic Tools</h3>
      <p>Easy access to information and an overview of transactions at a glance.</p>
      <!-- <a href="">Learn more</a> -->
    </div>
    <div>
      <img src="/assets//svgs/Icon.svg" alt="" />
      <h3>API Documentation</h3>
      <p>Our API is easy to use. Set it up and start receiving payments in only few minutes.</p>
      <!-- <a href="">Learn more</a> -->
    </div>
    <div>
      <img src="/assets//svgs/online-support-icon.svg" alt="" />
      <h3>Online Support</h3>
      <p>Have any questions for us? Our team is ready to give you answers and proffer solutions.</p>
      <!-- <a href="">Learn more</a> -->
    </div>
    <div>
      <img src="/assets//svgs/security-updates-icon.svg" alt="" />
      <h3>Settlement</h3>
      <p>Need urgent cashflow? Settlemets are available as soon as payments are confirmed.</p>
      <!-- <a href="">Learn more</a> -->
    </div>
  </div>
</section>
