<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/404.css" />
    <title>404</title>
    <style></style>
  </head>
  <body>
    <h3>The page you are looking for is currently in development or does not exist</h3>
    <p>
      kindly checkback later or forward your questions to
      <a href="mailto:info@marasoftpay.com">info@marasoftpay.com</a>
    </p>
    <%- include('./components/global/back'); %>
  </body>
</html>
