<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('components/global/favicon'); %>
    <link rel="stylesheet" href="/styles/plain-text.css" />
    <title>Marasoft Pay - Merchant Service Agreement</title>
  </head>
  <body>
    <div style="width: 20vw">
      <%- include('components/global/back'); %>
      <ul class="nav">
        <li><h3>Marasoft Pay Merchant Service E-Agreement</h3></li>
        <li><a href="#Introduction">Introduction</a></li>
        <li><a href="#Definitions">1. Definitions</a></li>
        <li><a href="#Non-exclusivity">2. Non-exclusivity</a></li>
        <li><a href="#Data-security">3. Data Security</a></li>
        <li><a href="#Term">4. Term</a></li>
        <li>
          <a href="#Marasoft-pays-obligations">5. Marasoft Pay’s Obligations</a>
        </li>
        <li>
          <a href="#The-merchants-obligations">6. The Merchants Obligations</a>
        </li>
        <li>
          <a href="#Chargebacks-and-refunds">7. Chargebacks And Refunds</a>
        </li>
        <li><a href="#Set-off">8. Set Off</a></li>
        <li><a href="#Fees-&-revenue-share">9. Fees & Revenue Share</a></li>
        <li><a href="#Warranties">10. Warranties</a></li>
        <li><a href="#Indemnity">11. Indemnity</a></li>
        <li>
          <a href="#Fraudulent-transactions">12. Fraudulent Transactions</a>
        </li>
        <li><a href="#Rolling-reserve">13. Rolling Reserve</a></li>
        <li><a href="#Security-/-deposit">14. Security/Deposit</a></li>
        <li>
          <a href="#Limitation-of-liability">15. Limitation Of Liability</a>
        </li>
        <li><a href="#Termination">16. Termination</a></li>
        <li><a href="#Confidentiality">17. Confidentiality</a></li>
        <li><a href="#Force-majeure">18. Force Majeure</a></li>
        <li>
          <a href="#Relationship-between-parties"
            >19. Relationship Between Parties</a
          >
        </li>
        <li><a href="#Intellectual-property">20. Intellectual Property</a></li>
        <li><a href="#No-assignment">21. No Assignment<a></li>
        <li><a href="#Modifications">22. Modifications</a></li>
        <li><a href="#Waiver">23. Waiver</a></li>
        <li><a href="#Severance">24. Severance</a></li>
        <li><a href="#Further-assurances">25. Further Assurances</a></li>
        <li><a href="#Whole-agreement">26. Whole Agreement</a></li>
        <li><a href="#Disputes-and-dispute-resolution">27. Disputes And Dispute Resolution</a></li>
        <li><a href="#Further-assurances">28. Further Assurances</a></li>
        <li><a href="#Notices">29. Notices</a></li>
        <li><a href="#Anti-Corruption">30. Anti-Corruption</a></li>
      </ul>
    </div>
    <div style="padding: 20px; max-width: 60vw">
      <!-- Introduction -->
      <section id="Introduction">
        <h1>Introduction</h1>
        <p>
          PLEASE READ THE FOLLOWING AGREEMENT, ALONG WITH ITS TERMS AND
          CONDITIONS, THE MARASOFT PAY TERMS OF USE AND PRIVACY POLICY CAREFULLY
          BEFORE ACCESSING OR USING THE MARASOFT PAY SERVICES. NOTE THAT THESE
          TERMS AND CONDITIONS CONSTITUTE A LEGAL AGREEMENT BETWEEN YOU (THE
          MERCHANT) AND MARASOFT PAY (THE SERVICE PROVIDER).
        </p>
        <p>
          YOU MAY NOT ACCESS OR USE ANY MARASOFT PAY SERVICES UNLESS YOU AGREE
          TO ABIDE BY ALL OF THE TERMS AND CONDITIONS AS CONTAINED IN THIS
          AGREEMENT.
        </p>
        <p>
          Please read the contents of this document carefully and print the copy
          sent to your email and/or retain this information electronically for
          your records
        </p>
        <p>
          <spa class="bold">This Merchant Service Agreement</spa> (“Agreement”)
          is a legal agreement between
          <span class="bold">MARASOFT PAY</span> (together with its
          subsidiaries, affiliates, successors and assigns) And
          <span class="bold">You</span> (hereinafter referred to as the
          <span class="bold">Merchant</span> ), as a user in order for You to
          receive certain payment gateway services and other services offered by
          Marasoft Pay and or its subsidiaries and affiliates.
        </p>
        <p>
          <span class="bold">Marasoft Pay</span> and
          <span class="bold">Merchant</span> are herein referred to collectively
          as “ <span class="bold">Parties</span> ” and individually as “
          <span class="bold">Party</span> ”, whereas:
        </p>
        <ul style="list-style: upper-alpha">
          <li>
            Marasoft Pay is an integrated payment and transaction processing
            company that provides technology integration, advisory products and
            services, and transaction processing and payment infrastructure to
            individuals, government and corporate organizations across various
            sectors and has developed and owns an e-commerce service that
            authorizes payments for Merchants.
          </li>
          <li>
            Marasoft Pay is in collaboration with the acquiring Bank to provide
            a Payment service gateway to Merchants.
          </li>
          <li>
            The Merchant is desirous to partner with Marasoft Pay to use its
            Payment Gateway to process payment from its customers.
          </li>
          <li>
            The Parties have agreed to work together in the development and
            production of certain technical, payment and financing products and
            have entered into this Agreement for the purpose of documenting
            their common intention.
          </li>
        </ul>
        <p><span class="bold">Now It Is Hereby Agreed </span> As follows:</p>
      </section>
      <!-- 1. Definitions -->
      <section id="Definitions">
        <h1>1. Definitions</h1>
        <p>In this Agreement, the following definitions apply:</p>
        <p>
          <span class="bold">“3D-Secure”</span> means the backup two (2) levels
          of security which must include delivery of a dynamic code in a card
          transaction
        </p>
        <p>
          <span class="bold">“Acquiring Bank”</span> means the financial
          institution/bank institution that processes credit or debit card
          payments on behalf of a merchant.
        </p>
        <p>
          <span class="bold">“Affiliate“</span> means, in relation to any Party,
          any entity in the same group as that Party, including but not limited
          to a subsidiary or a holding company of that Party and any direct or
          indirect subsidiaries of such holding company;
        </p>
        <p>
          <span class="bold">“Agreement”</span> means this Merchant Service
          Agreement and any supplements, appendices, amendments, modifications,
          extensions and revisions therein;
        </p>
        <p>
          <span class="bold">“API”</span> means Application Program Interface
          belonging to Marasoft Pay for the purpose of providing the Services
        </p>
        <p>
          <span class="bold">“Applicable Law(s)”</span> includes but is not
          limited to all Nigerian legislation, law, regulation, code,
          guidelines, rules, policies and directives of any competent regulatory
          entity, including without limitation CBN and NIBSS requirements with
          respect to payments, data protection, data privacy and data security,
          or any successor legislation, law, regulation, code, guidelines,
          rules, policies and directives amending, consolidating or replacing
          such Applicable Law, that is applicable to the deployment or operation
          of the core IT Banking Solution as well as any Services to be provided
          with respect to this Agreement, and any court decision having the
          force of law in Nigeria;
        </p>
        <p>
          <span class="bold">“Business Day”</span> means any day other than
          Saturday, Sunday, or any other day on which banking institutions in
          the Territory are authorized by law or executive action to close;
        </p>
        <p>
          <span class="bold">“Card”</span> means a prepaid virtual and/or
          physical card issued by Issuing Bank, which is branded with one or
          more marks or signage of a Payment Scheme, offered by Marasoft Pay to
          its Merchants on the Marasoft Pay Platform
        </p>
        <p>
          <span class="bold">“Cardholder”</span> means any authorised user of a
          card who uses the card to carry out a card transaction on the Payment
          Gateway
        </p>
        <p>
          <span class="bold">“Confidential Information”</span> means all
          information relating to the Disclosing Party which is obtained,
          whether in writing, pictorially, in machine readable form or orally or
          by observation in connection with this Agreement, including but
          without limitation, financial information, know-how, processes, ideas,
          intellectual property (irrespective of its registrability or
          patentability status), schematics, trade secrets, technology, customer
          list (potential or actual) and other customer-related information,
          sales statistics, market, market intelligence, marketing and other
          business strategies and other commercial information of a confidential
          nature but does not include information which is known to the
          Receiving Party without any limitation or restriction on use or
          disclosure before receipt of such information from or on behalf of the
          disclosing party or becomes publicly available, other than as a breach
          of this Agreement, or becomes lawfully available to the Receiving
          Party from a third party free from any confidentiality restriction or
          any information required to be disclosed under any relevant law or any
          binding judgment or order of court or arbitration tribunal or any
          stock exchange regulations or under direction from any relevant
          regulatory authority;
        </p>
        <p>
          <span class="bold">“Customers”</span> means patrons of the Merchant in
          relation to a payment transaction processed using the Services;
        </p>
        <p>
          <span class="bold">“Chargebacks”</span> means the reversal of a
          transaction or request for repayment in respect of a transaction
          previously settled and/or remitted that comes from the Issuing Bank,
          Payment Scheme or other financial institution.
        </p>
        <p>The reasons for the Chargebacks include (but are not limited to):</p>
        <ol style="list-style: lower-alpha">
          <li>the transaction amount not being authorized;</li>
          <li>
            <p>the cardholder alleging:</p>
            <ol>
              <li>non-participation in the transaction; or</li>
              <li>non-authorization of the use of card; or</li>
              <li>non-receipt of goods and/or services purchased;</li>
            </ol>
          </li>
          <li>cancelled or uncompleted pre-authorized transaction; or</li>
          <li>suspected fraud on card.</li>
        </ol>
        <p>
          <span class="bold">“Disclosing Party”</span> means any one of the
          Parties under this Agreement who discloses Confidential Information to
          the other Party to this Agreement;
        </p>
        <p>
          <span class="bold">“Marasoft Pay Terms and Conditions”</span> means
          collectively the terms and conditions set forth in this Agreement, as
          may be amended from time to time, including all exhibits, schedules
          and addendum thereto and the terms and conditions of the Payment
          Gateway on
          <a href="https://marasoftpay.com/terms">marasoftpay.com/terms</a>
        </p>
        <p>
          <span class="bold">“Fines”</span> means any and all fines, levies,
          costs, expenses, charges, assessments or imposition of liabilities of
          any nature which the Payment Schemes or other financial institution
          require either the Merchant or Marasoft Pay to pay or which are
          otherwise directly or indirectly recovered from Marasoft Pay at any
          time and which relate to any aspect of this Agreement (including the
          provision of the Services hereunder).
        </p>
        <p>
          <span class="bold">“Intellectual Property Rights”</span> means
          patents, rights to inventions, copyright and related rights,
          trademarks, trade names and domain names, rights in get-up, goodwill
          and the right to sue for passing off, unfair competition rights,
          rights in designs, rights in computer software, database rights,
          topography rights, rights to preserve the confidentiality of
          information (including know-how and trade secrets) and any other
          intellectual property rights, in each case whether registered or
          unregistered and including all applications (or rights to apply) for
          and be granted, renewals or extensions of, and rights to claim
          priority from, such rights and all similar or equivalent rights or
          forms of protection which subsist or will subsist now or in the future
          in any part of the world;
        </p>
        <p>
          <span class="bold">“Issuing Bank”</span> means a financial institution
          that issues cards under the authority of the relevant Payment Scheme;
        </p>
        <p>
          <span class="bold">“Merchant”</span> means an end user customer that
          uses Marasoft Pay Services in the conduct of its business of selling
          goods or providing services to the Public;
        </p>
        <p>
          <span class="bold">“Payment Gateway”</span> means the infrastructure
          and e-commerce service of Marasoft Pay that authorizes payments for
          merchants;
        </p>
        <p>
          <span class="bold">“Payment Scheme”</span> means Visa, MasterCard,
          American Express, Discover® Global Network and any Affiliates thereof
          or any other card payment network (including any local schemes
          thereof) and/or such other schemes governing the issue and use of
          credit, debit, charge, purchase or any other cards or payment methods,
          as approved and notified by Marasoft Pay to the Merchant in writing or
          on the Marasoft Pay websites from time to time;
        </p>
        <p>
          <span class="bold">“Payment Scheme Rules”</span> means individually
          and collectively, any and all applicable rules, regulations, standards
          and operating guidelines issued by any Payment Scheme, as amended and
          restated from time to time;
        </p>
        <p>
          <span class="bold">“PCI-DSS”</span> means the Payment Card Industry
          Data Security Standards;
        </p>
        <p>
          <span class="bold">“Receiving Party”</span> means any person receiving
          Confidential Information from a Party under this Agreement;
        </p>
        <p>
          <span class="bold">“Refund” </span>
          means a return of an amount to a Customer or the reversal of any other
          payment pursuant to a request or instruction from the Merchant to
          Marasoft Pay;
        </p>
        <p>
          <span class="bold">“Regulatory Authority” </span>
          means any regulator or other public body having supervisory or
          regulatory authority over Marasoft Pay or the Merchant;
        </p>
        <p>
          <span class="bold">“Services” </span> means usage of the Marasoft Pay
          APIs by the Merchant for its payment services;
        </p>
        <p>
          <span class="bold">“Territory” </span> means the Federal Republic of
          Nigeria; and
        </p>
        <p>
          <span class="bold">“User Acceptance Test” (UAT) </span>means the last
          phase of testing of the Payment Gateway integration to ensure
          functionality according to specification.
        </p>
        <p>In this Agreement, a reference to:</p>
        <ul>
          <li>
            A document in the “agreed form” is a reference to a document in a
            form approved and for the purposes of identification signed by or on
            behalf of the Parties;
          </li>
          <li>
            <p>A statutory provision includes a reference to</p>
            <ul style="list-style: circle">
              <li>
                The statutory provision as modified from time to time (whether
                before or after the date of this Agreement); and
              </li>
              <li>
                Any subordinate legislation made under the statutory provision
                (whether before or after the date of this Agreement);
              </li>
            </ul>
          </li>
          <li>
            A person includes a reference to any individual, body corporate,
            unincorporated association or partnership; and in the case of an
            individual, to that person’s legal personal representatives,
            successors or assigns;
          </li>
          <li>
            A clause or annex is, unless the context otherwise requires, a
            reference to a clause or annex to this Agreement;
          </li>
          <li>
            All references to the singular shall include the plural and vice
            versa;
          </li>
          <li>One gender shall include all other genders;</li>
          <li>
            The words “including” and “in particular” shall be deemed to be
            followed by the expression “(but not limited to)”;
          </li>
          <li>
            An account means an account and any sub-accounts of that account and
            as each may be substituted, renewed, re-designated, replaced or
            renumbered;
          </li>
          <li>
            The clause headings in the Agreement have been inserted for
            convenience only and shall not be taken into account in its
            interpretation.
          </li>
          <li>
            Words and expressions defined in any sub-clause, shall for the
            purposes of the clauses of which the sub- clause forms a part, bear
            the meaning assigned to such words and expressions in that
            sub-clause;
          </li>
          <li>
            If any definition is a substantive provision conferring rights or
            imposing obligations on any Party, effect shall be given to it as if
            it were a substantive clause in the body of the Agreement,
            notwithstanding that it is only contained in the interpretation
            clause;
          </li>
          <li>
            If any period is referred to in this Agreement by way of reference
            to a number of days, the days shall be reckoned exclusively of the
            first and exclusively of the last day except the last day falls on a
            Saturday, Sunday or public holiday in which case it shall be made on
            the previous Business Day;
          </li>
          <li>
            Any payment which is due to be made under this Agreement which falls
            on a day which is not a Business Day, shall be made on the first
            Business Day thereafter, except if it falls in the next month, in
            which case it shall be made on the previous Business Day;
          </li>
          <li>
            A person who is not a party to this Agreement has no right to
            enforce any term of this Agreement; and
          </li>
          <li>
            The Annexes/Schedules form part of this Agreement and shall have the
            same force and effect as if set out in the body of this Agreement
            and references to this Agreement include the Annexes.
          </li>
        </ul>
      </section>
      <!-- 2. Non-exclusivity -->
      <section id="Non-exclusivity">
        <h1>2. Non-exclusivity</h1>
        <p>
          Marasoft Pay hereby grants the Merchant the non-exclusive right to
          channel its customers through the Payment Gateway.
        </p>
      </section>
      <!-- 3. Data Security -->
      <section id="Data-security">
        <h1>3. Data Security</h1>
        <p>
          Each Party is responsible for ensuring data security on their
          platform/website and for all data and Confidential information
          acquired pursuant to this Agreement. Each Party shall be and remain
          compliant with the Payment Card Industry Data Security Standard
          (PCI/DSS) requirement to the extent applicable to that Party and prior
          to such Party accessing any payment cardholder data or credit card
          information, as such requirements may be amended from time to time.
        </p>
      </section>
      <!-- 4. Term -->
      <section id="Term">
        <h1>4. Term</h1>
        <p>
          This Agreement shall commence from the date of the last signature
          (“Effective Date”) and shall continue for a period of twelve (12)
          months (“Initial Term”) unless any Party terminates the Agreement in
          accordance with this Agreement.
        </p>
        <p>
          Upon expiry of the initial term, this Agreement shall automatically
          renew for successive one (1) year periods until terminated in
          accordance with this Agreement.
        </p>
      </section>
      <!-- 5. Marasoft Pay’s Obligations -->
      <section id="Marasoft-pays-obligations">
        <h1>5. Marasoft Pay’s Obligations</h1>
        <p>Marasoft Pay hereby agrees to:</p>
        <ol>
          <li>
            work with Acquiring Bank to ensure that settlements of all monies
            collected by the Merchant is handled in a timely manner in
            accordance with Applicable Law and Payment Scheme Rules;
          </li>
          <li>
            grant to the Merchant and the Merchant hereby accepts from Marasoft
            Pay, non-exclusive, non-transferable license and right to the
            Marasoft Pay API and accompanying integration technical
            specification in respect of this Agreement subject to the Merchant’s
            acceptance of the Marasoft Pay Terms and Conditions;
          </li>
          <li>
            work with the Merchant to provide the requisite integration
            technical specification and APIs in respect of the Payment Gateway
            subject to the Merchant’s acceptance of Marasoft Pay Terms and
            Conditions;
          </li>
          <li>
            work with the Merchant to provide fraud protection and compliance
            support to the Merchant subject to the Merchant’s acceptance of the
            Marasoft Pay Terms and Conditions;
          </li>
          <li>set-up the Merchant on Marasoft Pay Payment Gateway;</li>
          <li>
            develop and provide card & token processing API's for all Marasoft
            Pay Payment Scheme and tokens in the market of scope;
          </li>
          <li>
            provide technology support to the Merchant on a discretionary basis;
          </li>
          <li>
            provide post-implementation support to the Merchant and its
            customers;
          </li>
          <li>
            to maintain an open communication channel with the Merchant to
            discuss future joint product designs for future initiatives that
            both Parties can benefit from, and to discuss joint press
            announcements;
          </li>
          <li>
            handle settlement of all monies collected by Merchants to Merchant’s
            bank account in Merchant’s preferred bank;
          </li>
          <li>
            advise Merchant by email on the start date, upon successful
            completion of the pre-go live UAT, to carry out a controlled end to
            end test in the live environment with selected internal users only
            within Merchant’s organization for a period of one or two weeks in
            order to certify that the entire project implementation is
            successful and satisfactory with sign off by Merchant;
          </li>
          <li>
            provide adequate technical support for the test duration where
            applicable during the implementation of the task stated in clause
            5.11 above.
          </li>
        </ol>
      </section>
      <!-- 6. The Merchant’s Obligations -->
      <section id="The-merchants-obligations">
        <h1>6. The Merchant’s Obligations</h1>
        <ul style="list-style: none">
          <li>6.1. The Merchant hereby agrees:</li>
          <ol>
            <li>
              to offer the Marasoft Pay infrastructure as method to route
              supported cards, payment methods & tokens originated transactions
              through the provided APIs in supported countries as mutually
              agreed upon;
            </li>
            <li>
              to work with Marasoft Pay to implement the 3D-Secure on its site
              to certify Customer transactions;
            </li>
            <li>
              to respond to all fraud enquiries not later than one (1) Business
              Day of receipt of such enquiry,
            </li>
            <li>
              to respond to all Chargebacks enquiries with sufficient proof and
              evidence of value/service delivery within one (1) Business Day of
              receipt of such enquiry;
            </li>
            <li>
              that for any undisputed Chargebacks, the Merchant will be liable
              and would have to provide an equivalent sum for Chargebacks;
            </li>
            <li>
              that for all disputed Chargebacks for which 3D-Secure was used,
              the Chargebacks shall be subject to arbitration with the Payment
              Scheme;
            </li>
            <li>
              to promptly notify Marasoft Pay of any security breach, misuse,
              irregularity, suspected fraudulent transaction or suspicious
              activities that may be connected with attempts to commit fraud or
              other illegal activity through the use of Merchant’s site and the
              corrective action the Merchant has taken;
            </li>
            <li>
              to authorise Marasoft Pay to debit the nominated bank settlement
              account for the full value plus other lawful charges in respect of
              all lawful transaction where the Cardholder is adjudged by the
              Payment Scheme to be entitled to a refund;
            </li>
            <li>
              to ensure adequate fraud protection and compliance to regulatory
              and Payment Scheme rules and requirements;
            </li>
            <li>
              to notify Marasoft Pay of any change in the Merchant’s registered
              office address, Merchant’s activities and/or line of business
              prior to such change.
            </li>
            <li>
              to provide a full scope of future plans and use cases of the
              provided Marasoft Pay APIs;
            </li>
            <li>
              to maintain an open communication with Marasoft Pay to discuss
              potential future joint product designs for future initiatives that
              both parties can benefit from, and to discuss joint press
              announcements;
            </li>
            <li>
              to put in place appropriate security measures to monitor, control
              and prevent fraud on Merchant website;
            </li>
            <li>
              be fully responsible for its employees’ actions while in the
              Merchant’s employ;
            </li>
            <li>
              <p>
                to ensure that at all times, the following information is
                displayed on its website;
              </p>
              <ul style="list-style: circle">
                <li>Return, Refund and cancellation Policy</li>
                <li>
                  Description of the service (s) being offered for s
                  style="list-style: circle;"ale
                </li>
                <li>Delivery policy for the service(s) offered for sale</li>
                <li>
                  Commitment to process orders promptly (stating in clear terms
                  delivery timelines where applicable)
                </li>
                <li>
                  An undertaking to ensure the security of Cardholders’
                  information a style="list-style: circle;"nd not to violate the
                  privacy of Cardholders who transact on its site.
                </li>
                <li>
                  Phone number(s) and e-mail address(es) for customer service
                  contact.
                </li>
                <li>
                  An undertaking to respond to all customer enquiries/issues
                  within one (1) Business Day;
                </li>
              </ul>
            </li>
            <li>to promote the Payment Gateway services to its Customers;</li>
            <li>
              to utilize the integration specification document and APIs in
              respect of the Payment Gateway provided by Marasoft Pay in the
              prescribed manner;
            </li>
            <li>
              fully comply with all applicable payment scheme rules and
              government regulations in relations to the transaction entered
              herein.
            </li>
            <li>
              ensure that the provided APIs will be used across all of its
              applicable digital Merchant assets in the prescribed manner;
            </li>
            <li>
              to carry out an end to end UAT in the live environment with
              selected internal users only within the Merchant’s organization
              and not the general public to certify:
            </li>
            <li>
              to close the project, following successful implementation of the
              UAT, by signing off a project Go-Live document provided by
              Marasoft Pay, for this purpose, before exposing Merchant’s project
              (service) to the general public;
            </li>
            <li>
              to provide immediate notice of (i) any unauthorised third-party
              use of the Services or any third party that may have access to
              cardholder data; and/or (ii) any event which might lead to such
              unauthorised use;
            </li>
            <li>
              to immediately notify Marasoft Pay of any act, omission or error
              which does or may adversely affect the Merchant's ability to
              perform their obligations under this Agreement or cause loss or
              damage to Marasoft Pay (including but not limited to any material
              change in the nature or extent of the Merchant's business).
            </li>
            <li>
              The Merchant shall comply with any additional security,
              authentication, risk control or other requirements imposed by
              Marasoft Pay or a Payment Scheme, including but not limited to
              where that Merchant is, in the opinion of Marasoft Pay and / or
              the Payment Scheme, engaged in high risk activities.
            </li>
            <li>
              to comply with Applicable law and any relevant Payment Scheme
              Rules to which the Merchant is subject. The Merchant shall not act
              in contravention of or cause Marasoft Pay to act in contravention
              of any Payment Scheme Rules to which Marasoft Pay is subject.
            </li>
            <li>
              Maintain a 10% rolling reserve from daily settlement due to the
              Merchant for a period of 180 days as provided in Clause 13 below.
            </li>
          </ol>
          <li>
            6.2. In order to ensure continued compliance with the requirements
            of the CBN, the Merchant understands and accepts that Marasoft Pay
            provides its Services subject to the written approvals, directives,
            notices or authorisations as may be issued by the CBN from time to
            time and the Payment Scheme Rules. The Merchant further accepts that
            Marasoft Pay may make any such changes to the Services or this
            Agreement as are strictly necessary to ensure compliance with the
            CBN and the Payment Scheme Rules and the continuous provision of the
            Services to the Merchant.
          </li>
          <li>
            6.3. The Merchant acknowledges that the Cards created on the
            Marasoft Pay Platform are the property of Marasoft Pay, and will be
            subject to cancellation at any time by Marasoft Pay or the Issuing
            Bank, as required by Applicable Law, or, on a case-by-case basis,
            where Marasoft Pay and/or the Issuing Bank believes that the Card is
            being used for fraudulent or illegal purposes provided that Marasoft
            Pay shall immediately notify the Merchant of such cancellation.
          </li>
          <li>
            6.4. The Merchant agrees that it will be responsible for and liable
            to Marasoft Pay and Issuing Bank for all reasonable expenses
            associated with and any losses from over limit processing or
            reasonable expenses incurred by Marasoft Pay or Issuing Bank in
            seeking fraud or unauthorized transaction recovery under Applicable
            Law that was a result of the Merchant’s action or inaction including
            actions of the Merchant’s employees.
          </li>
        </ul>
      </section>
      <!-- 7. Chargebacks And Refunds -->
      <section id="Chargebacks-and-refunds">
        <h1>7. Chargebacks And Refunds</h1>
        <ol>
          <li>
            If applicable, the Merchant acknowledges and agrees that in certain
            circumstances the Issuing Bank, Payment Scheme or other financial
            institutions may (i) refuse to settle a transaction or (ii) impose
            Chargebacks on Marasoft Pay.
          </li>
          <li>
            The Merchant agrees that it may be required to reimburse Marasoft
            Pay for Chargebacks where the Merchant has accepted settlement in
            respect of the relevant transaction. Where applicable, the Merchant
            must respond to Cardholder disputes and handle Chargebacks in
            accordance with Payment Scheme Rules.
          </li>
          <li>
            The Merchant agrees that Marasoft Pay shall have the right to send
            non-settled transactions received from the Merchant Customers to the
            Issuing Bank/authorities concerned for the purpose of checking and
            in case of objection and/or opposition on the executed transactions
            by the Issuing Bank or the authorities concerned for any reason,
            Marasoft Pay shall not be bound to pay the Merchant the transaction
            amount during the period contained in this agreement.
          </li>
          <li>
            All Chargebacks shall correspond to the whole or part of the
            settlement value of the original transaction.
          </li>
          <li>
            <p>
              Where Chargebacks occur, Marasoft Pay shall immediately be
              entitled to debit the Merchant’s position or make a reversal from
              the Merchant’s bank account and/or make a deduction from any
              remittance and /or invoice the Merchant to recover:
            </p>
            <ol>
              <li>childItem</li>
              <li>childItem</li>
            </ol>
          </li>
          <li>
            A Chargeback represents an immediate liability from the Merchant to
            Marasoft Pay and where the full amount of any Chargebacks and/or any
            Chargeback Costs is not debited by Marasoft Pay from the Merchant
            bank account or deducted from any remittance or invoiced as referred
            to in the previous clause, then Marasoft Pay shall be entitled to
            otherwise recover from the Merchant by any means, the full amount of
            such Chargeback or Chargeback Costs (or the balance thereof, as the
            case may be).
          </li>
          <li>
            Marasoft Pay shall not be obliged to investigate the validity of any
            Chargeback by any Issuing Bank, Payment Scheme or other financial
            institution, whose decision shall be final and binding in respect of
            any Chargebacks.
          </li>
          <li>
            As Chargebacks may arise a considerable period after the date of the
            relevant transaction, Marasoft Pay shall remain entitled to recover
            Chargebacks and Chargeback Costs from the Merchant in respect of all
            Chargebacks, even after the termination of the contractual
            relationship between the Merchant and Marasoft Pay.
          </li>
          <li>
            Marasoft Pay may immediately terminate this Agreement and the
            Services provided hereunder if Marasoft Pay in its sole opinion
            considers that the total value of Refunds and/or Chargebacks is
            unreasonable.
          </li>
          <li>
            The Merchant agrees and confirms that it shall remain solely liable
            after the termination of the Agreement for all Chargebacks, Refunds,
            penalties, loss, damages or cost incurred by Marasoft Pay, Acquiring
            Bank, and/or Customers and for all claims and proceedings arising
            against Marasoft Pay with respect to the Agreement.
          </li>
        </ol>
      </section>
      <!-- 8. Set Off -->
      <section id="Set-off">
        <h1>8. Set Off</h1>
        <ol>
          <li>
            Marasoft Pay may, without notice, set off any debts or liabilities
            due from the Merchant to Marasoft Pay under this Agreement against
            any debts or liabilities owed by Marasoft Pay to the Merchant,
            regardless of the place of payment or currency of either obligation.
            If the obligations are in different currencies, Marasoft Pay may
            convert either obligation at a market rate of exchange in its usual
            course of business for the purpose of the set-off.
          </li>
          <li>
            Marasoft Pay is entitled to defer any settlement or any other sum
            due to the Merchant to the extent that Marasoft Pay considers
            necessary or appropriate to protect their ability to recover the
            Fees and/or the sums or any other liability (actual or anticipated)
            of the Merchant in connection with this Agreement.
          </li>
          <li>
            If Marasoft Pay has reasonable suspicion that a transaction may be
            fraudulent or involve other criminal activity, Marasoft Pay may
            suspend the processing of that transaction and any connected,
            transaction, or withhold settlement until the satisfactory
            completion of any investigation. The Merchant shall not be entitled
            to any interest or other compensation whatsoever in respect of
            suspension or delay in receiving Payment.
          </li>
          <li>
            The exercise by Marasoft Pay of any of its rights under this clause
            shall be without prejudice to any other rights or remedies
            (including but not limited to set-off) to which Marasoft Pay is
            otherwise entitled (by operation of law, contract, or otherwise).
          </li>
        </ol>
      </section>
      <!-- 9. Fees & Revenue Share -->
      <section id="Fees-&-revenue-share">
        <h1>9. Fees & Revenue Share</h1>
        <ol>
          <li>
            under this Agreement is structured in Annexure 1 and as may be
            updated from time to time on
            <a href="./pricing.html">MarasoftPay.com/pricing</a>
          </li>
          <li>
            direct processors fees from Payment Scheme which are already
            contained in the fees contained in clause 9.1 above.
          </li>
          <li>
            reduce/waive its transaction fees provided in Annexure 1 from time
            to time without recourse to the Merchant but shall notify the
            Merchant of such increase/reduction/waiver immediately upon its
            implementation.
          </li>
          <li>
            Marasoft Pay is entitled to recover and withhold:
            <ol>
              <li>any Refunds; and</li>
              <li>
                any Chargebacks and any Fines Visa, MasterCard, American
                Express, Discover® Global Network and any Affiliates thereof or
                any other card payment network.
              </li>
            </ol>
          </li>
          <li>
            The Merchant may markup fees to its Customers without recourse to
            Marasoft Pay.
          </li>
          <li>
            The Merchant hereby gives Marasoft Pay full permission and
            authorization to receive all settlements and collections on its
            behalf, from the Acquiring Bank, and to liaise with the Acquiring
            Bank, in order to make all due settlements to it, and on its behalf,
            through the Marasoft Pay platform.
          </li>
        </ol>
      </section>
      <!-- 10. Warranties -->
      <section id="Warranties">
        <h1>10. Warranties</h1>
        <ol>
          <li>
            The Merchant warrants that it has never had an agreement with a
            payment scheme provider which was terminated upon request and/or
            demand by the payment scheme provider or any regulatory authority.
          </li>
          <li>
            The Merchant warrants that it shall not submit any transaction that
            the Merchant knows is illegal, fraudulent or restricted for
            authorization, or not authorized by the cardholder.
          </li>
          <li>
            The Merchant warrants it will conduct appropriate due diligence on
            all Customers.
          </li>
          <li>
            The Merchant warrants that it shall fully cooperate where any
            forensic investigation is being conducted on the Merchant until such
            time the investigation is completed.
          </li>
          <li>
            The Merchant warrants it will use the Services in good faith, in
            accordance with the terms of this Agreement and in accordance with
            all Applicable Law and Payment Scheme Rules. In particular, the
            Merchant will not use the Services in a manner that that could
            result in a violation of anti-money laundering, counter terrorist
            financing and similar legal and regulatory obligations.
          </li>
          <li>
            <p>
              The Merchant warrants that the Merchant has not been subject to
              the following:
            </p>
            <ol>
              <li>
                Criminal conviction (except minor traffic offenses and other
                petty offenses) in Nigeria or in any other foreign country;
              </li>
              <li>Federal or state tax lien, or any foreign tax lien;</li>
              <li>
                Administrative or enforcement proceedings commenced by the
                Securities and Exchange Commission, any Regulatory Authority, in
                Nigeria, or in any other country; or
              </li>
              <li>
                Restraining order, decree, injunction, or judgment in any
                proceeding or lawsuit, alleging fraud or deceptive practice on
                the part of the Merchant.
              </li>
            </ol>
          </li>
          <li>
            The Parties warrants that they are duly registered and licensed
            (where applicable), and have the full capacity, regulatory approvals
            and corporate authorisation to enter into this Agreement and
            discharge the obligations and responsibilities created herein.
          </li>
          <li>
            The Parties further warrant that no element of this transaction
            constitutes a breach of any existing law, regulation, patent,
            copyright, or other intellectual property in its country or
            countries of domicile and operation.
          </li>
          <li>
            The Parties warrant that in the case of any third-party software
            used in respect of this Agreement, that they have the required
            licence and the right to grant a sub-licence to use such third-party
            software.
          </li>
          <li>
            Each Party warrants to the other that this Agreement constitutes a
            legal, valid and binding obligation, enforceable against it in
            accordance with the terms and obligations therein and no provision
            of this Agreement is in conflict with any of the Party’s obligations
            under its constitutional documents, Applicable Law or any other
            document, charter or agreement to which the Party is subject,
          </li>
          <li>
            The Parties shall keep each other indemnified against all actions,
            claims, proceedings and all legal cost or other expenses arising out
            of any breach of the above warranties or out of any claim by a third
            party based on any facts which if substantiated would constitute
            such a breach or a breach of other relevant legal or contractual
            duty.
          </li>
          <li>
            Marasoft Pay neither warrants that the use of the Payment Gateway or
            the operation thereof will be uninterrupted nor error free, however,
            Marasoft Pay warrants that it shall use its best endeavours to
            ensure that the Payment Gateway functions optimally at all times and
            within generally accepted industry standards during the term of this
            Agreement.
          </li>
          <li>
            Except as set forth in this clause 10, Marasoft Pay makes no express
            or implied representations or warranties with respect to the Payment
            Gateway and related services or their condition, merchantability,
            fitness for any particular purpose or use by the Merchant or the
            Merchant’s customers.
          </li>
          <li>
            Disclaimer. EXCEPT FOR THE WARRANTIES SPECIFICALLY SET FORTH IN THIS
            AGREEMENT, EACH PARTY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS
            OR IMPLIED, ARISING OUT OF OR RELATED TO THIS AGREEMENT, INCLUDING
            WITHOUT LIMITATION, ANY WARRANTY OF MARKETABILITY, FITNESS FOR A
            PARTICULAR PURPOSE OR NON- INFRINGEMENT, AND IMPLIED WARRANTIES
            ARISING FROM COURSE OF DEALING OR COURSE OF PERFORMANCE, EACH OF
            WHICH IS HEREBY EXCLUDED BY AGREEMENT OF THE PARTIES.
          </li>
        </ol>
      </section>
      <!-- 11. Indemnity -->
      <section id="Indemnity">
        <h1>11. Indemnity</h1>
        <p>
          Either Party shall indemnify and hold the other Party, its Affiliates,
          employees and agents harmless from and against any damage, loss,
          expense, claims or liability that Party may incur:
        </p>
        <ol>
          <li>
            With respect to any negligent act or omission by, or wilful
            misconduct of, the Party’s employees or agents to the extent however
            that such negligent act can be situated in the normal course of
            employment or appointment;
          </li>
          <li>
            The violation of any applicable law, statute or regulation by the
            Parties or their personnel;
          </li>
          <li>
            In connection with any third party claims, actions, demands and/or
            losses to the extent that such losses result from any breach of this
            Agreement by such indemnifying Party.
          </li>
        </ol>
        <p>
          The Merchant shall indemnify and hold Marasoft Pay harmless from and
          against any damage, loss or liability that Marasoft Pay may incur as a
          result of:
        </p>
        <ol>
          <li>
            Merchant wilfully or carelessly exposing the process/product/service
            to the general public during the process of carrying out tests in
            the controlled Live environment as stated in clauses 6.1.18 and
            6.1.19 above.
          </li>
          <li>
            Negligent or wilful misconduct of the Merchant and/or its employees,
            Affiliates, employees and agents.
          </li>
          <li>
            Any modification or amendment of the prescribed terms of use
            communicated by Marasoft Pay, that Marasoft Pay did not specifically
            approve in writing.
          </li>
          <li>
            Any warranty, condition, representation, indemnity or guarantee
            granted by the Merchant with respect to the Payment Gateway with
            respect to the limited warranties specified in clause 10;
          </li>
          <li>
            Any omission or inaccuracy in the Merchant’s advertisements or
            promotional materials that relate to the Payment Gateway,
          </li>
          <li>
            Any modification of or addition to the Payment Gateway not provided
            or approved by Marasoft Pay or;
          </li>
          <li>
            The Merchant’s failure to comply with the terms and conditions of
            this Agreement or any part thereof.
          </li>
          <li>
            This section will not be construed to limit or exclude any other
            claims or remedies to which Marasoft Pay may be entitled hereunder
            or in law or equity.
          </li>
        </ol>
      </section>
      <!-- 12. Fraudulent Transactions -->
      <section id="Fraudulent-transactions">
        <h1>12. Fraudulent Transactions</h1>
        <ol>
          <li>
            <p>Fraudulent transactions shall include but not be limited to:</p>
            <ul>
              <li>
                Any purchase of goods and services and/or transaction arising
                from the use of a card by a person other than the authorized
                cardholder.
              </li>
              <li>
                Use of a card that is not authorised in terms of the rules
                governing the issuance and use of cards.
              </li>
            </ul>
          </li>
          <li>
            In the event that fraudulent transactions account for more than
            0.10% of the Merchant’s sales turnover in any one (1) month,
            Marasoft Pay may, in addition to any other remedy available to it,
            be entitled to unilaterally terminate this Agreement forthwith
            and/or request the Merchant to delist the affected customer from the
            use of the platform and terminate the Merchant Agreement with the
            affected Customer.
          </li>
          <li>
            <p>
              Merchant agrees that it will always be responsible for the actions
              of;
            </p>
            <ol>
              <li>the Merchant’s customers; and</li>
              <li>The Merchant’s employees</li>
              <li>
                including fraudulent acts or omission not traceable to the
                contributory negligence of Marasoft Pay.
              </li>
            </ol>
          </li>
        </ol>
      </section>
      <!-- 13. Rolling Reserve -->
      <section id="Rolling-reserve">
        <h1>13. Rolling Reserve</h1>
        <ol>
          <li>
            Where applicable, Marasoft Pay shall maintain a 180-day rolling
            reserve of funds to be settled to the Merchant upon accumulation of
            the Risk Deposit Amount.
          </li>
          <li>
            The rolling reserve shall be 10% of all the transactions from the
            Merchant’s Customers during the calendar month.
          </li>
          <li>
            Marasoft Pay shall be entitled to use the 180-day rolling reserve to
            cover any Card Chargebacks or Refunds or any fees/fines imposed on
            the Marasoft Pay due to the breach of the Agreement by the Merchant.
          </li>
          <li>
            The 10% rolling reserve shall be released on day 181 to the
            Merchant’s bank account.
          </li>
          <li>
            In the event that the Chargebacks and the Refunds are higher than
            the 10% rolling reserve. Marasoft Pay is entitled to set-off the
            amounts from the Merchant transaction until the sum of fine/fee is
            covered as stated in Clause 12 above.
          </li>
          <li>
            Marasoft Pay may require that any security provided be supplemented
            or replaced or any time.
          </li>
          <li>
            Marasoft Pay may require that any security provided be supplemented
            or replaced at any time.
          </li>
          <li>
            At the time of Termination, Marasoft Pay may retain any such amount
            from the security (if any) and settlement payable to the Merchant as
            may be determined by Marasoft Pay to cover Chargeback, risk, Refund
            risk or any potential loss, damages, penalties, cost that may be
            incurred by Marasoft Pay for a period of one hundred and eighty
            (180) Business days. In the event that such retained amount is not
            sufficient to cover all outstanding amounts of the Merchant post
            termination, the Merchant shall ensure that it pays Marasoft Pay all
            pending amounts within ten (10) Business Days of receiving the
            demand notice and shall at all times keep Marasoft Pay indemnified
            in this respect.
          </li>
        </ol>
      </section>
      <!-- 14. Security/Deposit -->
      <section id="Security-/-deposit">
        <h1>14. Security/Deposit</h1>
        <ol>
          <li>
            Where applicable, Marasoft Pay reserves the right to require that
            the Merchant provides (or procures the provision of security in such
            form as to be agreed by the Parties to secure the performance of the
            Merchant's actual, contingent or potential obligations under this
            Agreement or otherwise in connection with the Services. Such
            security may take the form of a deposit, a rolling reserve, a
            guarantee or indemnity. Marasoft Pay reserves the right to
            unilaterally call for an increase to the level of security held.
          </li>
          <li>
            Marasoft Pay may require that any security provided be supplemented
            or replaced at any time.
          </li>
          <li>
            At the time of termination, Marasoft Pay may retain such amount from
            the security (if any) and settlement payable to the Merchant as may
            be determined by Marasoft Pay to cover Chargeback risk, Refund risk
            or any potential loss, damages, penalties, cost that may be incurred
            by Marasoft Pay for a period of one hundred and eighty days (180)
            Business Days. In the event that such retained amount is not
            sufficient to cover all outstanding amounts of the Merchant post
            termination, the Merchant shall ensure that it pays Marasoft Pay all
            pending amounts within ten (10) Business Days of receiving the
            demand notice and shall at all times keep Marasoft Pay indemnified
            in this respect.
          </li>
        </ol>
      </section>
      <!-- 15. Limitation Of Liability -->
      <section id="Limitation-of-liability">
        <h1>15. Limitation Of Liability</h1>
        <ol>
          <li>
            <p>
              The liability of Marasoft Pay to the Merchant, whether in
              contract, negligence, and other tort, by way of indemnity or
              otherwise arising out of or in connection with this Agreement
              shall be subject to the financial limits set out below:
            </p>
            <ol>
              <li>
                In no event shall Marasoft Pay be liable to the Merchant in
                excess of any amount that has accrued to Marasoft Pay from
                transactions emanating by virtue of this Agreement, in the month
                immediately preceding the date the first such claim arises.
              </li>
              <li>
                No liability shall be raised against Marasoft Pay more than two
                (2) years after the accrual of the cause of such liability,
                therefore. It is further agreed that the limitations on
                liability, expressed herein, shall inure to the benefit of and
                apply to all parents (both direct and indirect), subsidiaries
                and Affiliates of Marasoft Pay.
              </li>
              <li>
                Marasoft Pay will not be liable for the actions or inactions of
                any third party not acting on the instructions of Marasoft Pay;
                neither will Marasoft Pay be liable for the actions or inactions
                not directly traceable to it.
              </li>
            </ol>
          </li>
        </ol>
      </section>
      <!-- 16. Termination -->
      <section id="Termination">
        <h1>16. Termination</h1>
        <ol>
          <li>
            <p>
              Either Party may terminate this Agreement forthwith by giving’
              notice in writing to the other Party if:
            </p>
            <ol>
              <li>
                the other Party takes any step or action in connection with its
                entering administration, provisional liquidation or any
                composition or arrangement with its creditors (other than in
                relation to a solvent restructuring), being wound up (whether
                voluntarily or by order of the court, unless for the purpose of
                a solvent restructuring), having a receiver appointed to any of
                its assets or ceasing to carry on business or, if the step or
                action is taken in another jurisdiction, in connection with any
                analogous procedure in the relevant jurisdiction; or
              </li>
              <li>
                the other Party suspends, or threatens to suspend, or ceases or
                threatens to cease to carry on all or a substantial part of its
                business.
              </li>
            </ol>
          </li>
          <li>
            This Agreement may also be terminated forthwith by any of the
            Parties on giving written notice to the other, if the other Party is
            in material breach of the terms of this Agreement and has failed to
            rectify such breach (in the case of a breach capable of being
            remedied) within ten (10) Business Days of receiving a written
            notice requiring it to do so.
          </li>
          <li>
            Marasoft Pay may terminate this Agreement and delist the Merchant
            where the Merchant is identified as a source of fraudulent activity
            or causes damage to Marasoft Pay’s brand or the Acquiring Bank and
            Payment Schemes or upon instruction from the Acquiring Bank and
            Payment Schemes whether financial or otherwise.
          </li>
          <li>
            Either Party may terminate this Agreement at any time on giving one
            (1) month’s written notice to the other Party.
          </li>
          <li>
            On Termination, the Parties shall be discharged from any liability
            for further performance of its obligations under this Agreement and
            shall entitle either Party to be paid the accrued sum for any
            successful transaction prior to such termination.
          </li>
          <li>
            Any termination of this Agreement (however occasioned) shall not
            affect any accrued rights or liabilities of any of the Parties nor
            shall it affect the coming into force or the continuance in force of
            any provision hereof which is expressly or by implication intended
            to come into or continue in force on or after such termination.
          </li>
          <li>
            Upon termination of this Agreement the Merchant’s right to use the
            Payment Gateway shall automatically be revoked and Marasoft Pay
            shall retain the merchant records for a period of five (5) years
            after such termination.
          </li>
        </ol>
      </section>
      <!-- 17. Confidentiality -->
      <section id="Confidentiality">
        <h1>17. Confidentiality</h1>
        <ol>
          <li>
            In order to implement this Agreement, Both Parties may receive and
            have access to certain information belonging to the other Party
            which the other Party may designate as Confidential Information,
            provided, the Parties recognize that they will not have access to,
            or share, non-public personal information regarding consumers under
            this Agreement. Both Parties agree that all Confidential Information
            is and shall remain the property of the Party providing the
            information and the Party receiving or gaining access to the
            information shall use all reasonable and prudent means to safeguard
            such Confidential Information, including all means required by law.
            Furthermore, neither Party shall copy, publish, disclose to others,
            or use such Confidential Information for any purpose other than the
            fulfilment of its obligations under this Agreement or where required
            by law.
          </li>
          <li>
            Each of the Parties on behalf of itself and its employees, officers,
            directors, Affiliates, and agents, hereby agrees that Confidential
            Information made available to it will not be disclosed or made
            available to any third party, agent or employee for any reason
            whatsoever, other than with respect to: (i) its employees on a “need
            to know” basis, (ii) Affiliates on a “need to know” basis, provided
            that they are subject to a confidentiality agreement which shall be
            no less restrictive than the provisions of this Section 17; and
            (iii) as required by Applicable Law or as otherwise permitted by
            this Agreement, either during the term of this Agreement or after
            the termination of this Agreement, provided that prior to any
            disclosure of any party’s Confidential Information as required by
            law, the party subject to the requirement shall (iv) notify the
            other parties of all, if any, actual or threatened legal compulsion
            of disclosure, and any actual legal obligation of disclosure
            immediately upon becoming so obligated and (v) cooperate with the
            other parties’ reasonable, lawful efforts to resist, limit, or delay
            disclosure.
          </li>
          <li>
            Upon Termination of this Agreement, or at any time upon the request
            of the other party, each party shall return all Confidential
            Information in the possession of such Party or in the possession of
            a third party (over which such party has or may exercise control).
          </li>
          <li>
            In the event of any breach of the obligations under this Section 17,
            each Party acknowledges that the other Party may have no adequate
            remedy at law, in addition to such other remedies as may be
            available to the other Party, the other Party may obtain injunctive
            relief.
          </li>
          <li>
            This Section shall survive any termination or expiration of this
            Agreement.
          </li>
        </ol>
      </section>
      <!-- 18. Force Majeure -->
      <section id="Force-majeure">
        <h1>18. Force Majeure</h1>
        <ol>
          <li>
            If any of the Parties hereto is prevented from fulfilling its
            obligations under this Agreement by reason of any supervening event
            beyond its control (including but not limited to an Act of God,
            Natural Disaster, or Civil Disorder) the Party unable to fulfil its
            obligations shall immediately give notice in writing of this to the
            other Party and shall do everything in its power, including but not
            limited to accepting assistance from third parties or the other
            Party, to resume full performance.
          </li>
          <li>
            If the period of incapacity exceeds two (2) months, then this
            Agreement shall automatically terminate unless Parties expressly
            agree otherwise in writing
          </li>
        </ol>
      </section>
      <!-- 19. Relationship Between Parties -->
      <section id="Relationship-between-parties">
        <h1>19. Relationship Between Parties</h1>
        <ol>
          <li>
            The relationship between the Parties hereto shall be one of
            collaboration for the single purpose of the business relationship
            herein created.
          </li>
          <li>
            This Agreement shall not in any way constitute a partnership or
            joint venture between the Parties or constitute either Party an
            agent of the other.
          </li>
          <li>
            This Agreement is not intended to confer on any person other than
            Marasoft Pay and the Merchant, any express or implied benefit or
            burden.
          </li>
        </ol>
      </section>
      <!-- 20. Intellectual Property -->
      <section id="Intellectual-property">
        <h1>20. Intellectual Property</h1>
        <ol>
          <li>
            Nothing set forth in this Agreement shall constitute a transfer or
            assignment by one Party to another Party of any Intellectual
            Property Rights owned or otherwise controlled by such Party, and
            each Party hereby retains all of its rights, title and interest in
            such Intellectual Property Rights.
          </li>
          <li>
            All Intellectual Property Rights in or related to the Payment
            gateway are and will remain the exclusive property of Marasoft Pay,
            whether or not specifically recognized or perfected under the laws
            of the jurisdiction in which the Payment gateway is used or
            licensed. The Merchant shall not take any action that jeopardizes
            Marasoft Pay's proprietary rights or acquire any right in the Payment
            gateway, or the Confidential Information, as defined herein. Unless
            otherwise agreed on a case-by-case basis, Marasoft Pay will own all
            rights in any copy, translation, modification, adaptation or
            derivation of the Payment gateway or other items of Confidential
            Information, including any improvement or development thereof.
          </li>
        </ol>
      </section>
      <!-- 21. No Assignment -->
      <section id="No-assignment">
        <h1>21. No Assignment</h1>
        <ol>
          <li>
            The, rights benefits or obligations under this Agreement may not be
            assigned or otherwise transferred in whole or in part without the
            prior written consent of all the Parties but shall be binding upon
            and inure to the benefit of each of the Parties and, where so
            permitted, their assigns or other transferees.
          </li>
          <li>
            Marasoft Pay may sub-contract or delegate the performance of its
            obligations under this Agreement to third parties including any of
            its Affiliates; however, the Merchant shall remain responsible for
            the performance of its duties under this Agreement.
          </li>
        </ol>
      </section>
    </div>
  </body>
</html>
