<section id="cta">
        <div class="cont">
          <div class="text">
            <h1>
              Simple and Secure. <br />
              Try Marasoft Pay.
            </h1>
            <p>Start making fast and easy payments in a few minutes</p>
          </div>
          <div class="buttons">
            <a href="" class="getstarted">Get Started</a>
            <a href="" class="learnmore">Learn More</a>
          </div>
        </div>
      </section>