<section id="section4">
        <div class="header">
          <h4>PARTNERS</h4>
          <h1>
            Secured and <br />
            Backed up by.
          </h1>
        </div>
        <div class="images">
          <img src="/assets/images/marasoft-bank-logo.png" alt="" />
          <img src="/assets/images/budpay-logo.svg" alt="" />
          <img src="/assets/images/cloudbank-logo.png" alt="" />
        </div>
      </section>