@import "../globals/index.less";

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #e5e3ed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  .main-font();
  padding: 3vw;
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  margin: 0px;
  line-height: 1.5;
}

a.back {
  display: block;
  background-color: @persian_blue;
  color: white;
  padding: 10px 20px;
  margin-top: 2vh;
  text-decoration: none;
  &:hover{
    cursor: pointer;
  }
}
