@import '/assets/fonts/GTWalsheimPro/stylesheet.css';
h1 {
  font-family: 'GT Walsheim Pro';
  font-size: 7vh;
  font-weight: 100;
}
body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #e5e3ed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  font-family: 'GT Walsheim Pro';
  padding: 3vw;
  box-sizing: border-box;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
  margin: 0px;
  line-height: 1.5;
}
a.back {
  display: block;
  background-color: #192cd1;
  color: white;
  padding: 10px 20px;
  margin-top: 2vh;
  text-decoration: none;
}
a.back:hover {
  cursor: pointer;
}
