<main>
  <div class="text">
    <h1>
      <span class="lg">Online Payments</span>
      <span class="sm">made Fast and Easy.</span>
    </h1>
    <p>
      Faster, easier, cheaper and reliable payment services that work wherever
      you are.
    </p>
    <a href="https://marasoftpay.blogspot.com">
      <span> Learn more </span>
      <%- include('../reusables/arrow-svg') %>
    </a>
  </div>
  <div class="image">
    <img src="/assets/images/hero_frame.png" class="frame" alt="" />
    <img src="/assets/images/hero_phones.png" class="phones" alt="" />
    <img src="/assets/images/popup.png" class="popup" alt="" />
    <img
      src="/assets/images/transfer-popup.png"
      class="transfer-popup"
      alt=""
    />
  </div>
</main>
