@import '/assets/fonts/GTWalsheimPro/stylesheet.css';
h1 {
  font-family: 'GT Walsheim Pro';
  font-size: 7vh;
  font-weight: 100;
}
nav {
  z-index: 3;
  height: 9.44vh;
  display: flex;
}
nav section {
  flex: 1;
  display: flex;
  align-items: center;
}
nav section.logo img {
  max-width: 8.91vw;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  nav section.logo img {
    max-width: 38.91vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  nav section.logo img {
    max-width: 20.91vw;
  }
}
nav section.links {
  justify-content: center;
  gap: 1.2vw;
  flex: 2;
}
@media screen and (min-width: 320px) and (max-width: 1080px) and (orientation: portrait)  {
  nav section.links {
    display: none;
  }
}
nav section.links a {
  position: relative;
  color: white;
  font-size: 14px;
  text-decoration: none;
  border: 2px solid transparent;
  height: 3.7vh;
  gap: 0.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4.6vh;
  padding-left: 1.26vw;
  padding-right: 1.26vw;
  transition: 0.3s ease-in-out;
}
nav section.links a span {
  display: inline-block;
  transform: translateX(0.8vw);
  transition: 0.3s ease;
}
nav section.links a svg {
  display: inline;
  transform: translateX(-0.5vw);
  transition: 0.2s ease-in-out;
}
nav section.links a svg .head {
  opacity: 0;
}
nav section.links a:hover {
  border: 2px solid white;
}
nav section.links a:hover span {
  transform: translateX(0.3vw);
}
nav section.links a:hover svg {
  transform: translateX(0vw);
  display: inline;
}
nav section.links a:hover svg .head {
  opacity: 1;
}
nav section.cta {
  justify-content: flex-end;
  gap: 2.55vw;
}
@media screen and (min-width: 320px) and (max-width: 1080px) and (orientation: portrait)  {
  nav section.cta {
    display: none;
  }
}
nav section.cta a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 14px;
  height: 3.7vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4.6vh;
  padding-left: 1.26vw;
  padding-right: 1.26vw;
  gap: 0.5vw;
  transition: 0.3s ease-in-out;
}
nav section.cta a span {
  display: inline-block;
  transform: translateX(0.8vw);
  transition: 0.3s ease;
}
nav section.cta a svg {
  transition: 0.2s ease-in-out;
  transform: translateX(-0.5vw);
}
nav section.cta a svg .head {
  opacity: 0;
}
nav section.cta a:hover {
  border: 2px solid white;
}
nav section.cta a:hover span {
  transform: translateX(0.3vw);
}
nav section.cta a:hover svg {
  transform: translateX(0vw);
}
nav section.cta a:hover svg .head {
  opacity: 1;
}
nav section.cta a.login {
  border: 2px solid white;
}
nav section.cta a.signup {
  border: 2px solid transparent;
  background-color: white;
  color: #192cd1;
}
nav section.cta a.signup svg .head {
  fill: #192cd1;
}
nav section.cta a.signup svg .tail {
  fill: #192cd1;
}
nav section.cta .login:hover {
  background-color: white;
  color: #192cd1;
}
nav section.cta .login:hover svg .tail,
nav section.cta .login:hover svg .head {
  fill: #192cd1;
}
@media screen and (min-width: 1081px)  {
  nav {
    padding-left: 16.2vw;
    padding-right: 16.2vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  nav {
    height: 5.63vh;
    margin-bottom: 1.46vh;
    padding-left: 9.86vw;
    padding-right: 9.86vw;
  }
}
