@import '/assets/fonts/GTWalsheimPro/stylesheet.css';
h1 {
  font-family: 'GT Walsheim Pro';
  font-size: 7vh;
  font-weight: 100;
}
.main-bg {
  position: absolute;
  height: 81vh;
  width: 100%;
  background: linear-gradient(260.84deg, #4043ff 5.86%, #192cd1 101.33%);
  transition: 3s ease;
  z-index: -1;
}
.main-bg:hover {
  background: linear-gradient(231.06deg, #4043ff -5.53%, #192cd1 113.15%);
}
.main-bg .cover {
  z-index: 1;
  position: absolute;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.main-bg .cover img {
  position: absolute;
  bottom: -1px;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  .main-bg .cover img.lg {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  .main-bg .cover img.sm {
    display: none;
  }
}
@media screen and (min-width: 1081px)  {
  .main-bg .cover img.sm {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  .main-bg {
    height: 42.68vh;
  }
  .main-bg .cover {
    height: 101%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  .main-bg {
    height: 91.26vh;
  }
  .main-bg .cover {
    height: 101%;
  }
}
main {
  z-index: 2;
  height: 75.37vh;
  display: flex;
  justify-content: center;
}
main > div {
  flex: 1;
}
main .text {
  flex: 1;
  transform: translateY(50px);
  transition: 0.5s ease;
  opacity: 0;
}
main .text h1 {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-top: 16.11vh;
}
main .text h1 .lg {
  font-size: 4.63vh;
}
main .text h1 .sm {
  font-size: 4.17vh;
}
main .text p {
  color: white;
  font-size: 1.85vh;
  max-width: 25.26vw;
  font-family: 'GT Walsheim Pro';
}
main .text a {
  height: 5.56vh;
  width: 8.85vw;
  display: inline-block;
  border: 0.19px solid white;
  color: white;
  text-decoration: none;
  border-radius: 4.6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3vw;
  transition: 0.3s ease;
  font-size: 1.75vh;
}
main .text a span {
  transform: translateX(0.8vw);
  transition: inherit;
}
main .text a svg {
  margin-top: auto;
  margin-bottom: auto;
  transform: translateX(-0.5vw);
  transition: inherit;
}
main .text a svg .head {
  opacity: 0;
}
main .text a:hover {
  color: #192cd1;
  background-color: white;
}
main .text a:hover span {
  transform: translateX(0.3vw);
}
main .text a:hover svg {
  transform: translateX(0px);
}
main .text a:hover svg .head {
  fill: #192cd1;
  opacity: 1;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  main .text h1 {
    margin-top: 7vh;
  }
  main .text h1 .lg {
    font-size: 2.56vh;
  }
  main .text h1 .sm {
    font-size: 2.2vh;
  }
  main .text p {
    font-size: 1.1vh;
    max-width: 30vw;
    margin-top: 1.1vh;
  }
  main .text a {
    width: 13vw;
    height: 3vh;
    font-size: 1.02vh;
    margin-top: 25px;
    border: 0.15vh solid white;
  }
}
main .text.animate {
  opacity: 1;
  transform: translateY(0px);
}
main .image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
main .image img {
  max-width: 41.3vw;
  height: auto;
  margin: auto;
  position: absolute;
}
main .image img.frame {
  z-index: -1;
  transform: translateY(50px);
  transition: 1s ease;
  opacity: 0;
}
main .image img.frame.animate {
  opacity: 1;
  transform: translateY(0px);
}
main .image img.phones {
  z-index: 1;
  max-height: 71.1vh;
  transform: translateY(50px);
  transition: 0.5s ease;
  opacity: 0;
}
main .image img.phones.animate {
  opacity: 1;
  transform: translateY(0px);
}
main .image img.popup {
  z-index: 2;
  top: 13.61vh;
  left: -0.7vw;
  margin: 0px;
  padding: 0px;
  max-width: 5.3vw;
  transform: scale(0.3, 0.1) translateY(50px);
  opacity: 0;
  margin-top: 5vh;
  transition: 0.3s ease-in;
}
main .image img.popup.animate {
  margin-top: 0vh;
  transform: translateY(0px) scale(1, 1);
  opacity: 1;
}
main .image img.transfer-popup {
  z-index: 2;
  width: 9.1vw;
  top: 33.52vh;
  right: -1.5vw;
  transform: translateX(-50px);
  opacity: 0;
  transition: 0.5s ease-in;
}
main .image img.transfer-popup.animate {
  opacity: 1;
  transform: translateX(-15px);
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  main .image img.popup {
    left: -2vw;
  }
  main .image img.transfer-popup {
    top: 19vh;
  }
  main .image img img {
    max-width: 30.36vw;
    border: 1px solid;
  }
}
@media screen and (min-width: 1081px)  {
  main {
    padding-left: 16.2vw;
    padding-right: 16.2vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  main {
    height: 40vh;
    padding-left: 9.86vw;
    padding-right: 9.86vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  main {
    flex-direction: column;
    height: 90.73vh;
  }
  main > div {
    flex: none;
  }
  main .text {
    flex: 0;
  }
  main .text h1 {
    margin: auto;
    margin-top: 6.28vh;
    max-width: 67.47vw;
    text-align: center;
  }
  main .text h1 .lg,
  main .text h1 .sm {
    font-size: 3.69vh;
  }
  main .text p {
    max-width: 57.6vw;
    font-size: 1.48vh;
    margin: auto;
    text-align: center;
    margin-top: 1.85vh;
    line-height: 1.5;
  }
  main .text a {
    margin: auto;
    margin-top: 2.59vh;
    width: 30.4vw;
    font-size: 1.48vh;
    font-weight: bold;
    margin-bottom: 1vh;
  }
  main .text a svg {
    transform: translateX(1vw);
    height: auto;
    width: 2.33vw;
  }
  main .text a svg .head {
    opacity: 1;
    fill: white;
  }
  main .image img {
    max-width: 84.47vw;
  }
  main .image img.popup {
    max-width: 16.33vw;
    left: 3.87vw;
    top: 6.28vh;
  }
  main .image img.transfer-popup {
    width: 25.28vw;
    top: 26vh;
    right: -1vw;
  }
}
nav {
  z-index: 3;
  height: 9.44vh;
  display: flex;
  position: relative;
  background: linear-gradient(260.84deg, #4043ff61 5.86%, #192bd169 101.33%);
}
nav.bg {
  background: linear-gradient(260.84deg, #4043ff 5.86%, #192cd1 101.33%);
}
nav section {
  flex: 1;
  display: flex;
  align-items: center;
}
nav section.logo img {
  max-width: 8.91vw;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  nav section.logo img {
    max-width: 38.91vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  nav section.logo img {
    max-width: 20.91vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  nav section.logo img {
    margin-left: 1.35vh;
  }
}
nav section.links {
  justify-content: center;
  gap: 1.2vw;
  flex: 2;
}
@media screen and (min-width: 320px) and (max-width: 1080px) and (orientation: portrait)  {
  nav section.links {
    display: none;
  }
}
nav section.links a {
  position: relative;
  color: white;
  font-size: 1.48vh;
  text-decoration: none;
  border: 2px solid transparent;
  height: 3.7vh;
  gap: 0.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4.6vh;
  padding-left: 1.26vw;
  padding-right: 1.26vw;
  transition: 0.3s ease-in-out;
}
nav section.links a span {
  display: inline-block;
  transform: translateX(0.8vw);
  transition: 0.3s ease;
}
nav section.links a svg {
  display: inline;
  transform: translateX(-0.5vw);
  transition: 0.2s ease-in-out;
}
nav section.links a svg .head {
  opacity: 0;
}
nav section.links a:hover {
  border: 2px solid white;
}
nav section.links a:hover span {
  transform: translateX(0.3vw);
}
nav section.links a:hover svg {
  transform: translateX(0vw);
  display: inline;
  fill: #fff;
}
nav section.links a:hover svg .head {
  opacity: 1;
}
nav section.cta {
  justify-content: flex-end;
  gap: 2.55vw;
}
@media screen and (min-width: 320px) and (max-width: 1080px) and (orientation: portrait)  {
  nav section.cta {
    display: none;
  }
}
nav section.cta a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.48vh;
  height: 3.7vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4.6vh;
  padding-left: 1.26vw;
  padding-right: 1.26vw;
  gap: 0.5vw;
  transition: 0.3s ease-in-out;
}
nav section.cta a span {
  display: inline-block;
  transform: translateX(0.8vw);
  transition: 0.3s ease;
}
nav section.cta a svg {
  transition: 0.2s ease-in-out;
  transform: translateX(-0.5vw);
}
nav section.cta a svg .head {
  opacity: 0;
}
nav section.cta a:hover {
  border: 2px solid white;
}
nav section.cta a:hover span {
  transform: translateX(0.3vw);
}
nav section.cta a:hover svg {
  transform: translateX(0vw);
}
nav section.cta a:hover svg .head {
  opacity: 1;
}
nav section.cta a.login {
  border: 2px solid white;
}
nav section.cta a.signup {
  border: 2px solid transparent;
  background-color: white;
  color: #192cd1;
}
nav section.cta a.signup svg .head {
  fill: #192cd1;
}
nav section.cta a.signup svg .tail {
  fill: #192cd1;
}
nav section.cta .login:hover {
  background-color: white;
  color: #192cd1;
}
nav section.cta .login:hover svg .tail,
nav section.cta .login:hover svg .head {
  fill: #192cd1;
}
@media screen and (min-width: 1081px)  {
  nav {
    padding-left: 16.2vw;
    padding-right: 16.2vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  nav {
    height: 5.63vh;
    margin-bottom: 1.46vh;
    padding-left: 9.86vw;
    padding-right: 9.86vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  nav {
    height: 6.53vh;
  }
}
nav #nav-dropdown {
  position: absolute;
  height: auto;
  background-color: white;
  z-index: 4;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 0px 0px 15px 15px;
  transition: 0.3s ease;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  nav #nav-dropdown {
    width: 100%;
  }
}
nav #nav-dropdown.close {
  opacity: 0;
  margin-top: 5.53vh;
  visibility: hidden;
}
nav #nav-dropdown.open {
  margin-top: 6.53vh;
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 5px 3px #4242428f;
}
nav #nav-dropdown a {
  flex: 1;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  text-decoration: none;
  color: #192cd1;
  padding: 1.5vh;
  padding-left: 1.35vh;
  padding-right: 1.35vh;
  border-bottom: 1px solid #f2f2f2;
}
nav #nav-dropdown a[data-position="last"] {
  border-bottom: none;
}
nav #nav-dropdown a svg {
  width: 1.48vh;
  height: auto;
  fill: #192cd1;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  nav #nav-dropdown {
    margin-top: 5.63vh;
    right: 9.86vw;
    min-width: 40vw;
  }
}
@media screen and (min-width: 1081px)  {
  nav #nav-dropdown {
    display: none;
  }
}
nav .nav-toggle {
  border: none;
  background: none;
}
nav .nav-toggle:focus {
  outline: none;
}
@media screen and (min-width: 1081px)  {
  nav .nav-toggle {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  nav .nav-toggle {
    margin-right: 1.35vh;
  }
}
#section1 {
  padding-left: 14.43vw;
  padding-right: 14.43vw;
}
#section1 .header h1 {
  margin-bottom: 0px;
}
#section1 .carousel {
  height: 60.52vh;
  width: 69.95vw;
}
#section1 .carousel .carousel-control-next {
  width: auto;
}
#section1 .carousel .carousel-control-next svg {
  height: 5.22vh;
  width: 5.22vh;
}
#section1 .carousel .carousel-control-next svg #tail {
  display: none;
}
#section1 .carousel .carousel-control-prev {
  width: auto;
}
#section1 .carousel .carousel-control-prev svg {
  height: 5.22vh;
  width: 5.22vh;
  transform: rotate(180deg);
}
#section1 .carousel .carousel-control-prev svg #tail {
  display: none;
}
#section1 .carousel .carousel-inner {
  height: 62.2vh;
}
#section1 .carousel .carousel-inner .carousel-item.active .image {
  overflow: visible;
}
#section1 .carousel .carousel-inner .image {
  transition: 0.03s ease-in-out;
  transform: scale(0.8, 0.8);
  height: 57.31vh;
  width: 60.52vw;
  margin: auto;
}
#section1 .carousel .carousel-inner .image .content {
  border-radius: 6.21vh;
  margin: auto;
  background-color: #f6f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#section1 .carousel .carousel-inner .image .content .text {
  margin: auto;
}
#section1 .carousel .carousel-inner .image .content .text p {
  width: 25.16vw;
  line-height: 1.5;
  text-align: center;
  font-size: 2.2vh;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #section1 .carousel .carousel-inner .image .content .text p {
    font-size: 1.29vh;
  }
}
#section1 .carousel .carousel-inner .image .content .text p a {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 1vh;
}
#section1 .carousel .carousel-inner .image .content .text p a:hover {
  cursor: pointer;
}
#section1 .carousel .carousel-inner .image .content .image-cont {
  border-radius: inherit;
  width: 54.17vh;
  height: auto;
  box-shadow: 0px 0px 10px 3px rgba(25, 44, 209, 0.4);
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #section1 {
    padding-left: 9.86vw;
    padding-right: 9.86vw;
  }
  #section1 .carousel {
    width: 100%;
    height: 40vh;
  }
  #section1 .carousel .carousel-inner {
    height: 40vh;
  }
  #section1 .carousel .carousel-inner .image {
    width: 71.88vw;
    height: 29.7vh;
  }
  #section1 .carousel .carousel-inner .image .content {
    margin-top: 4vh;
    border-radius: 4vh;
  }
  #section1 .carousel .carousel-inner .image .content .image-cont {
    width: 28vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  #section1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  #section1 .carousel {
    width: 100%;
    height: auto;
  }
  #section1 .carousel .carousel-control-next,
  #section1 .carousel .carousel-control-prev {
    display: none;
  }
  #section1 .carousel .carousel-inner {
    height: 90.62vh;
  }
  #section1 .carousel .carousel-inner .carousel-item .image {
    height: 92.44vh;
    width: 100vw;
  }
  #section1 .carousel .carousel-inner .carousel-item .image .content {
    flex-direction: column;
  }
  #section1 .carousel .carousel-inner .carousel-item .image .content .image-cont {
    width: 100%;
    height: auto;
  }
  #section1 .carousel .carousel-inner .carousel-item .image .content .text p {
    width: 82vw;
  }
}
#section2 .header h4 {
  margin-top: 11.24vh;
}
#section2 .header h1 {
  margin-bottom: 4.72vh;
}
#section2 .images {
  height: 63.06vh;
  width: 68.18vw;
  margin: auto;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  #section2 .images.lg {
    display: none;
  }
}
#section2 .images.sm {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section2 .images.sm img {
  margin-top: 6vh ;
  margin-bottom: 6vh ;
  width: 85.87vw;
}
@media screen and (min-width: 1081px)  {
  #section2 .images.sm {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #section2 .images.sm {
    display: none;
  }
}
#section2 .images img.desktop {
  position: absolute;
  width: 40.63vw;
  border: 1px solid #f2f2f286;
  border-radius: 30px;
  box-shadow: 0px 20px 60px rgba(64, 67, 255, 0.1);
}
#section2 .images img.desktop.back {
  top: 2.4vh;
  right: 2.63vw;
}
#section2 .images img.desktop.front {
  top: 12.22vh;
  left: 1.76vw;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #section2 .header h4 {
    margin-top: 6.85vh;
  }
  #section2 .images {
    width: 76.17vw;
    height: 35vh;
  }
  #section2 .images img.desktop {
    border-radius: 10px;
  }
}
#section3 .header h4 {
  margin-top: 8.84vh;
}
#section3 .header h1 {
  margin-bottom: 6.48vh;
}
#section3 .container {
  height: 74.62vh;
  width: 60.99vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
}
#section3 .container div {
  width: 19.27vw;
  height: 35.74vh;
  margin: auto;
  margin-bottom: 0px;
  border-radius: 5px;
  background: #f4f6f8;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.3vh;
}
#section3 .container div img {
  width: 6.48vh;
  height: 6.48vh;
}
#section3 .container div h3 {
  font-size: 2.31vh;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}
#section3 .container div p {
  margin: auto;
  font-size: 1.67vh;
  max-width: 14.79vw;
  color: #576078;
  text-align: center;
  margin: 0px;
}
#section3 .container div a {
  background-color: #192cd1;
  color: white;
  font-size: 1.39vh;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  width: 6.2vw;
  height: 3.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 5px;
}
#section3 .container div:hover {
  background: linear-gradient(222.21deg, #4043ff 1.32%, #0404a5 98.71%);
  filter: drop-shadow(0px 20px 50px rgba(64, 67, 255, 0.455));
  transform: translateY(-10px);
}
#section3 .container div:hover h3,
#section3 .container div:hover p {
  color: white;
}
#section3 .container div:hover a {
  background-color: #f4f6f8;
  color: #000;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  #section3 .container {
    flex-wrap: nowrap;
    width: 100vw;
    height: auto;
    flex-direction: column;
  }
  #section3 .container div {
    flex: none;
    width: 66.4vw;
    height: 32.02vh;
    margin-bottom: 6.8vw;
  }
  #section3 .container div h3 {
    font-size: 1.97vh;
  }
  #section3 .container div p {
    max-width: 29.79vh;
  }
  #section3 .container div a {
    width: 21.38vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #section3 .header h4 {
    margin-top: 6.85vh;
  }
  #section3 .container {
    max-width: 82vw;
    width: 100%;
    height: 41vh;
    gap: 0px;
  }
  #section3 .container > div {
    width: 24.59vw;
    height: 21.11vh;
    gap: 1.17vh;
    margin-bottom: 1vh;
  }
  #section3 .container > div img {
    width: 3.44vh;
    height: 3.44vh;
  }
  #section3 .container > div h3 {
    font-size: 1.32vh;
  }
  #section3 .container > div p {
    font-size: 1.1vh;
    max-width: 18vw;
  }
  #section3 .container > div a {
    width: 8.81vw;
    height: 3.2vh;
    font-size: 1vh;
    border-radius: 5px;
  }
}
#section4 {
  padding-top: 6.48vh;
}
#section4 .header h1 {
  margin-bottom: 0px;
}
#section4 .images {
  margin-bottom: 8.61vh;
  margin-top: 3.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.66vw;
}
#section4 .images img {
  max-width: 11.09vw;
  height: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  #section4 .images {
    max-width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }
  #section4 .images img {
    max-width: 48.53vw;
  }
}
#cta {
  height: 38.8vh;
  width: 66.15vw;
  margin: auto;
  margin-bottom: 15.56vh;
  padding: 4.63vh;
}
#cta .cont {
  display: flex;
  box-shadow: 0px 4px 50px rgba(25, 44, 209, 0.4);
  background: linear-gradient(225deg, rgba(64, 67, 255, 0.333) 0%, #192cd1 100%), linear-gradient(229.91deg, #4043ff 21.58%, #192cd1 89.53%);
  height: 100%;
  padding-left: 3.15vw;
  border-radius: 3.24vh;
}
#cta .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#cta .text h1 {
  font-size: 3.24vh;
  color: white;
  font-weight: bold;
}
#cta .text p {
  font-size: 1.85vh;
  color: white;
  max-width: 17.6vw;
}
#cta .buttons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.56vw;
}
#cta .buttons a {
  width: 8.85vw;
  height: 5.56vh;
  display: inline-block;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-family: 'GT Walsheim Pro';
  border-radius: 4.63vh;
  transition: 0.3s ease;
  font-weight: 600;
}
#cta .buttons a.getstarted {
  border: 2px solid transparent;
  background-color: white;
  color: #192cd1;
}
#cta .buttons a.learnmore {
  border: 2px solid white;
  color: white;
}
#cta .buttons a.learnmore:hover {
  background-color: white;
  color: #192cd1;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #cta {
    border: none;
    padding: 0px;
    width: 100%;
    margin-bottom: 0px;
    height: auto;
    margin-bottom: 7vh;
  }
  #cta .cont {
    border-radius: 0px;
    flex-direction: column;
    height: 20.2vh;
    padding-left: 0px;
  }
  #cta .text {
    align-items: center;
    justify-content: center;
    flex: 2;
    margin-bottom: -15px;
  }
  #cta .text h1 {
    font-size: 1.83vh;
  }
  #cta .text p {
    font-size: 1.1vh;
    max-width: 25vw;
    text-align: center;
  }
  #cta .buttons {
    align-items: flex-start;
    margin-top: -10px;
  }
  #cta .buttons a {
    width: 12.94vw;
    height: 3.86vh;
    font-family: sans-serif;
    font-size: 0.8vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  #cta {
    width: 100vw;
    height: auto;
    padding: 0px;
    margin-top: 9.36vh;
  }
  #cta .cont {
    border-radius: 0px;
    flex-direction: column;
  }
  #cta .cont .text h1,
  #cta .cont .text p {
    width: 100%;
    max-width: 67.73vw;
    text-align: center;
    margin: auto;
  }
  #cta .cont .text h1 {
    margin-top: 6.28vh;
  }
  #cta .cont .text p {
    margin-top: 3.2vh;
    margin-bottom: 4.43vh;
  }
  #cta .cont .buttons {
    margin-bottom: 3.82vh;
    gap: 5.52vw;
  }
  #cta .cont .buttons a {
    width: 29.77vw;
  }
}
.features {
  opacity: 0;
  margin-top: 150px;
  transition: opacity 1s ease, margin-top 1.5s ease;
}
.features.animate {
  margin-top: 0px;
  opacity: 1;
}
.features.dark {
  opacity: 1;
}
.features .header h4 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.3vw;
  color: #192cd1;
  margin-top: 2.04vh;
  margin-bottom: 0px;
  text-align: center;
}
.features .header h1 {
  font-size: 3.7vh;
  font-weight: bold;
  text-align: center;
  margin-top: 2.78vh;
  margin-bottom: 8.89vh;
  line-height: 1.1;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  .features .header h1 {
    font-size: 1.83vh;
    margin-top: 2vh;
    margin-bottom: 4.2vh;
  }
}
.features.dark {
  background-color: #f4f6f8;
  margin-top: 16.2vh;
  border-radius: 10.42vw 10.42vw 0px 0px;
}
#reviews {
  padding-bottom: 10.19vh;
}
#reviews .header h1 {
  margin-bottom: 10.19vh;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  #reviews .images.lg {
    display: none;
  }
  #reviews .images.sm {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #reviews .images.lg {
    display: block;
  }
  #reviews .images.sm {
    display: none;
  }
}
@media screen and (min-width: 1081px)  {
  #reviews .images.sm {
    display: none;
  }
  #reviews .images.lg {
    display: block;
  }
}
#reviews .images .carousel {
  height: 51.3vh;
}
#reviews .images .carousel .carousel-inner {
  display: flex;
}
#reviews .images .carousel .carousel-item {
  width: 66.15vw;
  margin: auto;
}
#reviews .images .carousel .carousel-item .cont {
  height: 41.3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#reviews .images .carousel .carousel-item .cont > div {
  height: 34.3vh;
  width: 19.27vw;
  border-radius: 1.39vh;
  padding: 1.56vw;
  background: #576078;
  color: white;
  transition: 0.3s ease;
}
#reviews .images .carousel .carousel-item .cont > div:hover {
  transform: translateY(-10px);
  background: linear-gradient(180deg, #192cd1 0%, #0404a5 100%), #576078;
}
#reviews .images .carousel .carousel-item .cont > div > img {
  width: 2.22vh;
  height: 2.22vh;
  margin-bottom: 2.3vh;
}
#reviews .images .carousel .carousel-item .cont > div > p {
  font-size: 1.7vh;
  line-height: 1.5;
  width: 15.99vw;
  margin: auto;
  font-style: italic;
  margin-bottom: 2.3vh;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #reviews .images .carousel .carousel-item .cont > div > p {
    font-size: 1.02vh;
  }
}
#reviews .images .carousel .carousel-item .cont > div .user {
  display: flex;
  align-items: center;
  gap: 1.56vw;
}
#reviews .images .carousel .carousel-item .cont > div .user img {
  border: 1px solid transparent;
  width: 11.11vh;
  height: 11.11vh;
  background-color: white;
  border-radius: 50%;
}
#reviews .images .carousel .carousel-item .cont > div .user p {
  font-size: 1.7vh;
  line-height: 1.5;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #reviews .images .carousel .carousel-item .cont > div .user p {
    font-size: 1.02vh;
  }
}
#reviews .images .carousel .carousel-item .cont > div .user p span {
  display: block;
}
@keyframes slide {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, -194vh, 0);
    /* The image width */
  }
}
#reviews .images.sm .carousel {
  height: auto;
  display: flex;
  max-height: 55vh;
  overflow-x: hidden;
  position: relative;
}
#reviews .images.sm .carousel .cover {
  position: absolute;
  height: 75vh;
  width: 100%;
  top: 0px;
  background-color: transparent;
  z-index: 2;
}
#reviews .images.sm .carousel .carousel-inner {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 194vh;
  overflow-x: scroll;
  gap: 5vh;
  opacity: 0;
  transform: translate3d(0, 5vh, 0);
  animation: slide 20s ease-in infinite;
  animation-fill-mode: backwards;
  scroll-behavior: smooth;
}
#reviews .images.sm .carousel .carousel-inner section {
  background: linear-gradient(225deg, #4043FF 0%, #192CD1 100%);
  padding: 10px;
  width: 68vw;
  border-radius: 10px;
  height: 73vw;
}
#reviews .images.sm .carousel .carousel-inner section p {
  font-size: 0.8rem;
  color: white;
}
#reviews .images.sm .carousel .carousel-inner section img {
  margin-bottom: 2vh;
}
#reviews .images.sm .carousel .carousel-inner section img.logo {
  width: 15vw;
  height: 15vw;
  background-color: #f2f2f2;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  #reviews .header h1 {
    margin-bottom: 2.2vh;
  }
  #reviews .images .carousel {
    height: 33vh;
  }
  #reviews .images .carousel .carousel-item {
    width: 84.14vw;
  }
  #reviews .images .carousel .carousel-item .cont {
    height: 30vh;
  }
  #reviews .images .carousel .carousel-item .cont > div {
    width: 26.66vw;
    height: 21vh;
  }
  #reviews .images .carousel .carousel-item .cont > div > img {
    width: 1.26vh;
    height: 1.26vh;
    margin-bottom: 1.5vh;
  }
  #reviews .images .carousel .carousel-item .cont > div > p {
    width: 23vw;
    line-height: 1.5;
    margin-bottom: 1.5vh;
  }
  #reviews .images .carousel .carousel-item .cont > div .user {
    padding: 2px;
  }
  #reviews .images .carousel .carousel-item .cont > div .user img {
    width: 6.49vh;
    height: 6.49vh;
  }
}
footer {
  min-height: 71.84vh;
  background-color: #576078;
  font-family: 'GT Walsheim Pro';
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer {
    min-height: 60vh;
  }
}
footer {
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}
footer .logo {
  display: flex;
  justify-content: center;
}
footer .logo img {
  margin-top: 12.44vh;
  margin-bottom: 11.33vh;
  max-width: 14.48vw;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer .logo img {
    margin-top: 6vh;
    margin-bottom: 4vh;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer .logo img {
    max-width: 43.96vw;
    margin-top: 7.41vh;
    margin-bottom: 7.41vh;
  }
}
footer .container2 a {
  text-decoration: none;
  color: #000;
}
footer .line {
  width: 100%;
}
footer.footer-lg {
  margin-left: auto;
  margin-right: auto;
}
footer.footer-lg .footer-gap {
  height: 4.7vh;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer.footer-lg .footer-gap {
    height: 2vh;
  }
}
footer.footer-lg h4 {
  font-size: 2.7vh;
  font-weight: 500;
  margin-bottom: 2vh;
  color: #fff;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg h4 {
    font-size: 1.97vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 0.86vh;
    padding-bottom: 0.86vh;
  }
  footer.footer-lg h4.active {
    border: 1px solid rgba(33, 150, 243, 0.3);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  }
  footer.footer-lg h4.active svg {
    transform: rotate(-90deg) scale(1.5, 1.5);
    margin: 1px;
  }
  footer.footer-lg h4 svg {
    fill: #2196f3;
    width: 30px;
    margin-top: -3px;
    transform: rotate(90deg) scale(1.5, 1.5);
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .toggle-body {
    display: none;
    margin-top: -20px;
    transition: 0.3s ease;
    padding-left: 8vw;
    padding-right: 8vw;
  }
  footer.footer-lg .toggle-body.active {
    margin-top: 0px;
    display: block;
  }
  footer.footer-lg .toggle-body.not-active {
    display: none;
  }
}
footer.footer-lg .container-lg {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  padding-bottom: 6.67vh;
  width: 65.1vw;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer.footer-lg .container-lg {
    width: 90vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .container-lg {
    flex-direction: column;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .container-lg {
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    gap: 10px;
  }
}
footer.footer-lg .container-lg img {
  display: none;
}
footer.footer-lg .container-lg a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8vh;
  font-weight: 300;
}
footer.footer-lg .container-lg a:hover {
  color: #192cd1;
}
footer.footer-lg .container-lg .toggle-body {
  margin-top: 0px;
}
footer.footer-lg .container-lg .container-inner {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  gap: 4.63vh;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .container-lg .container-inner {
    gap: 10px;
  }
}
footer.footer-lg .container-lg .container-inner > div {
  display: flex;
  gap: 10vw;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .container-lg .container-inner > div {
    flex-direction: column;
    gap: 10px;
  }
}
footer.footer-lg .container2 {
  width: 65.1vw;
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 10vw;
  margin-top: 10vh;
  padding-bottom: 6.67vh;
  margin: auto;
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer.footer-lg .container2 {
    width: 90vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
  footer.footer-lg .container2 {
    width: 100vw;
    flex-direction: column;
  }
  footer.footer-lg .container2 p,
  footer.footer-lg .container2 .icons {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
footer.footer-lg .container2 a {
  font-size: 1.8vh;
  font-weight: 300;
  color: white;
}
footer.footer-lg .container2 .icons {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  gap: 1.5vw;
}
footer.footer-lg .container2 .icons svg {
  width: 22px;
  fill: #fff;
  transition: 0.1s ease-in-out;
  transform: scale(0.9, 0.9);
}
footer.footer-lg .container2 .icons svg:hover {
  box-shadow: 0px 0px 5px solid #424242;
  transform: scale(1.1, 1, 1);
}
@media screen and (min-width: 1081px)  {
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait)  {
}
@media screen and (min-width: 320px) and (max-width: 1080px) and (orientation: landscape)  {
  footer.footer-lg .container2 .icons {
    align-items: center;
    gap: 1vw;
  }
  footer.footer-lg .container2 .icons svg {
    width: 18px;
  }
}
@media screen and (min-device-width: 813px) and (max-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)  {
  footer.footer-lg {
    margin-top: 7vh;
  }
  footer.footer-lg h4 {
    font-size: 2vh;
  }
  footer.footer-lg a {
    font-size: 1.3vh;
  }
  footer.footer-lg .container-lg {
    gap: 5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1080px) and (orientation: portrait)  {
  footer.footer-lg h4 {
    font-size: 1.5vh;
  }
  footer.footer-lg .container-lg {
    margin-top: 7vh;
  }
  footer.footer-lg .container-lg a {
    font-size: 1.2vh;
  }
  footer.footer-lg .container2 a {
    font-size: 1.2vh;
  }
}
body {
  position: relative;
  margin: 0px;
  font-family: 'GT Walsheim Pro';
}
nav {
  position: sticky;
  top: 0px;
}
svg.arrow {
  width: 1.14vw;
  height: 1.18vh;
  margin-top: 0.2vw;
  right: 0.7vw;
  display: inline-block;
}
svg.arrow .tail {
  opacity: 0;
  display: none;
}
