@import "./globals/index.less";
@import "./main/main.less";
@import "./nav/nav.less";
@import "./features/index.less";
@import "./reviews/reviews.less";
@import "./footer/footer.less";

body {
  position: relative;
  margin: 0px;
  .main-font();
}

nav {
  position: sticky;
  top: 0px;
  background: linear-gradient(260.84deg, #4043ff 5.86%, #192cd1 101.33%);
}

svg {
  &.arrow {
    width: 1.14vw;
    height: 1.18vh;
    margin-top: 0.2vw;
    right: 0.7vw;
    display: inline-block;

    .tail {
      opacity: 0;
      display: none;
    }
  }
}
