nav {
  z-index: 2;
  height: 9.44vh;
  display: flex;
}
nav section {
  flex: 1;
  display: flex;
  align-items: center;
}
nav section.logo img {
  max-width: 8.91vw;
}
nav section.links {
  justify-content: center;
  gap: 2.34vw;
  flex: 2;
}
nav section.links a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  border: 2px solid transparent;
  height: 3.7vh;
  gap: 0.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4.6vh;
  padding-left: 1vw;
  padding-right: 1vw;
  transition: 0.3s ease;
}
nav section.links a:hover {
  border: 2px solid white;
}
nav section.links a:hover svg {
  transform: translateX(-2px);
}
nav section.links a:hover svg .tail {
  opacity: 1;
}
nav section.cta {
  justify-content: flex-end;
  gap: 2.55vw;
}
nav section.cta a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  min-width: 6.09vw;
  height: 3.7vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  gap: 0.3vw;
  transition: 0.3s ease;
  border-radius: 4.6vh;
}
nav section.cta a:hover {
  border: 2px solid white;
}
nav section.cta a:hover svg {
  transform: translateX(0px);
}
nav section.cta a:hover svg .tail {
  opacity: 1;
}
nav section.cta a.login {
  border: 2px solid white;
}
nav section.cta a.signup {
  border: 2px solid transparent;
  background-color: white;
  color: #192CD1;
}
nav section.cta a.signup svg .head {
  fill: #192CD1;
}
nav section.cta a.signup svg .tail {
  fill: #192CD1;
}
nav section.cta .login:hover {
  background-color: white;
  color: #192CD1;
}
nav section.cta .login:hover svg .tail,
nav section.cta .login:hover svg .head {
  fill: #192CD1;
}
@media screen and (min-width: 1081px)  {
  nav {
    padding-left: 16.2vw;
    padding-right: 16.2vw;
  }
}
